In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
from dateutil.parser import parse
import numpy as np

import warnings
import datetime as dt
warnings.filterwarnings('ignore')

In [2]:
events = pd.read_csv('data/events_up_to_01062018.csv')
events.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
events.count()

timestamp                   2341681
event                       2341681
person                      2341681
url                          191131
sku                         1320530
model                       1321513
condition                   1320530
storage                     1320530
color                       1320530
skus                         505949
search_term                  113763
staticpage                    11201
campaign_source              191286
search_engine                106406
channel                      204069
new_vs_returning             204069
city                         204069
region                       204069
country                      204069
device_type                  204069
screen_resolution            204066
operating_system_version     204069
browser_version              204069
dtype: int64

# Analisis TP1

In [4]:
events.columns

Index(['timestamp', 'event', 'person', 'url', 'sku', 'model', 'condition',
       'storage', 'color', 'skus', 'search_term', 'staticpage',
       'campaign_source', 'search_engine', 'channel', 'new_vs_returning',
       'city', 'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version'],
      dtype='object')

In [5]:
events.drop(['url','skus','city','search_engine','campaign_source','channel'], inplace=True, axis=1)

In [6]:
#Cambiamos el tipo de dato de fecha de timestamp a datetime para un mejor analisis y renombramos a "fecha"
events[['timestamp']] = events[['timestamp']].apply(pd.to_datetime)
events.rename({
    'timestamp' : 'fecha',
}, axis=1, inplace=True)
events.head()

,fecha,event,person,sku,model,condition,storage,color,search_term,staticpage,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Detalles de Productos que fueron comprados
productos = events.loc[:, ['event','fecha','person', 'sku', 'model', 'condition', 'storage', 'color']]
productos_comprados = productos.loc[productos.event == 'conversion']
productos_comprados.drop(['event'], inplace=True, axis=1)
productos_comprados.head()

,fecha,person,sku,model,condition,storage,color
195,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa
234,2018-05-18 01:05:23,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa
724,2018-05-29 07:51:14,39df97e0,9358.0,Samsung Galaxy J2 Prime TV,Excelente,8GB,Rosa
744,2018-05-29 07:13:30,380c0e60,6314.0,Samsung Galaxy Note 5,Muito Bom,32GB,Preto
1198,2018-05-29 19:31:46,35ee0cc8,10924.0,Samsung Galaxy A5 2017,Bom,32GB,Dourado

In [11]:
productos_comprados.count()

fecha        7091
person       7091
sku          7091
model        7091
condition    7091
storage      7091
color        7091
dtype: int64

In [14]:
productos_comprados = productos_comprados.drop_duplicates(['person','sku'])
productos_comprados.count()

fecha        5328
person       5328
sku          5328
model        5328
condition    5328
storage      5328
color        5328
dtype: int64

In [16]:
#Detalles de Productos que fueron visitados
productos_visitados = productos.loc[((productos.event == 'viewed product') | (productos.event == 'checkout'))]
productos_visitados.drop(['event'], inplace=True, axis=1)
productos_visitados.head()

,fecha,person,sku,model,condition,storage,color
0,2018-05-18 00:11:59,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado
1,2018-05-18 00:11:27,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial
2,2018-05-18 00:11:16,0297fc1e,6888.0,iPhone 6S,Muito Bom,64GB,Prateado
3,2018-05-18 00:11:14,2d681dd8,11890.0,iPhone 7,Bom,128GB,Vermelho
4,2018-05-18 00:11:09,cccea85e,7517.0,LG G4 H818P,Excelente,32GB,Branco

In [17]:
productos_visitados.count()

fecha        1313439
person       1313439
sku          1313439
model        1313439
condition    1313439
storage      1313439
color        1313439
dtype: int64

In [18]:
productos_visitados = productos_visitados.drop_duplicates(['person','sku'])
productos_visitados.count()

fecha        622254
person       622254
sku          622254
model        622254
condition    622254
storage      622254
color        622254
dtype: int64

In [19]:
#Caracterisitcas del dispositivos con el que el usuario visito el sitio
visitas = events.loc[:,['event','fecha','person','new_vs_returning','region','country','device_type','screen_resolution','operating_system_version','browser_version']]
features_usuario = visitas.loc[visitas.event == 'visited site']
features_usuario.drop(['event'], inplace=True, axis=1)
features_usuario.head()

,fecha,person,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version
2136629,2018-05-10 22:34:50,4640420b,Returning,Parana,Brazil,Smartphone,320x570,Android 5.0.2,Chrome Mobile 66.0
2136630,2018-05-15 02:39:45,4640420b,Returning,Parana,Brazil,Smartphone,320x570,Android 5.0.2,Chrome Mobile 66.0
2136631,2018-05-18 01:15:26,4640420b,Returning,Unknown,Brazil,Computer,1280x1024,Ubuntu,Firefox 57
2136632,2018-05-18 19:03:37,4640420b,Returning,Parana,Brazil,Tablet,800x1280,Android 7,Chrome 66.0
2136633,2018-05-18 19:35:12,4640420b,Returning,Parana,Brazil,Tablet,800x1280,Android 7,Chrome 66.0

In [20]:
features_usuario.count()

fecha                       204069
person                      204069
new_vs_returning            204069
region                      204069
country                     204069
device_type                 204069
screen_resolution           204066
operating_system_version    204069
browser_version             204069
dtype: int64

In [22]:
features_usuario = features_usuario.drop_duplicates(['person','new_vs_returning','region','country','device_type','screen_resolution','operating_system_version','browser_version'])
features_usuario.count()

fecha                       79823
person                      79823
new_vs_returning            79823
region                      79823
country                     79823
device_type                 79823
screen_resolution           79820
operating_system_version    79823
browser_version             79823
dtype: int64

In [23]:
del events
del productos
del visitas

# Set de Datos de Entrenamiento

In [24]:
user_prod_comprados = productos_comprados.merge(features_usuario, on="person", how="inner")
user_prod_comprados.head()

,fecha_x,person,sku,model,condition,storage,color,fecha_y,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-12 03:02:08,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0
1,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-11 23:44:42,New,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0
2,2018-05-29 07:51:14,39df97e0,9358.0,Samsung Galaxy J2 Prime TV,Excelente,8GB,Rosa,2018-05-30 10:59:58,Returning,Minas Gerais,Brazil,Smartphone,360x640,Android 7.1.1,Chrome Mobile 66.0
3,2018-05-29 07:51:14,39df97e0,9358.0,Samsung Galaxy J2 Prime TV,Excelente,8GB,Rosa,2018-05-29 00:36:12,Returning,Unknown,Brazil,Smartphone,360x640,Android 7.1.1,Chrome Mobile 66.0
4,2018-05-29 07:51:14,39df97e0,9358.0,Samsung Galaxy J2 Prime TV,Excelente,8GB,Rosa,2018-02-28 01:34:26,New,Minas Gerais,Brazil,Smartphone,360x640,Android 7.1.1,Chrome Mobile 64.0

In [25]:
user_prod_vistas = productos_visitados.merge(features_usuario, on="person", how="inner")
user_prod_vistas.head()

,fecha_x,person,sku,model,condition,storage,color,fecha_y,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,2018-05-18 00:07:22,New,Rio de Janeiro,Brazil,Smartphone,360x640,Android 7,Chrome Mobile 64.0
1,2018-05-18 00:11:35,4886f805,9287.0,Samsung Galaxy J7 Prime,Muito Bom,32GB,Dourado,2018-05-18 00:07:22,New,Rio de Janeiro,Brazil,Smartphone,360x640,Android 7,Chrome Mobile 64.0
2,2018-05-18 00:11:27,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,2018-05-14 23:50:22,New,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0
3,2018-05-18 00:11:27,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,2018-05-16 02:48:13,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0
4,2018-05-18 00:23:33,ad93850f,318.0,iPhone 5s,Muito Bom,64GB,Prateado,2018-05-14 23:50:22,New,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0

In [26]:
del features_usuario
del productos_comprados
del productos_visitados

In [27]:
user_prod_comprados.drop('sku', inplace=True, axis=1)

In [28]:
user_prod_comprados['person'].count()

20635

In [29]:
user_prod_comprados = user_prod_comprados.drop_duplicates()
user_prod_comprados['person'].count()

20635

In [30]:
user_prod_vistas.drop('sku', inplace=True, axis=1)

In [31]:
user_prod_vistas['person'].count()

2110254

In [32]:
user_prod_vistas = user_prod_vistas.drop_duplicates()
user_prod_vistas['person'].count()

2110254

In [33]:
#concateno
# user_prod_comprados['label'] = 1
# user_prod_vistas['label'] = 0
frames = [user_prod_comprados, user_prod_vistas]
sets = pd.concat(frames)
sets.head()

,fecha_x,person,model,condition,storage,color,fecha_y,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 01:12:20,49c19e32,iPhone 5c,Bom,16GB,Rosa,2018-05-12 03:02:08,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0
1,2018-05-18 01:12:20,49c19e32,iPhone 5c,Bom,16GB,Rosa,2018-05-11 23:44:42,New,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0
2,2018-05-29 07:51:14,39df97e0,Samsung Galaxy J2 Prime TV,Excelente,8GB,Rosa,2018-05-30 10:59:58,Returning,Minas Gerais,Brazil,Smartphone,360x640,Android 7.1.1,Chrome Mobile 66.0
3,2018-05-29 07:51:14,39df97e0,Samsung Galaxy J2 Prime TV,Excelente,8GB,Rosa,2018-05-29 00:36:12,Returning,Unknown,Brazil,Smartphone,360x640,Android 7.1.1,Chrome Mobile 66.0
4,2018-05-29 07:51:14,39df97e0,Samsung Galaxy J2 Prime TV,Excelente,8GB,Rosa,2018-02-28 01:34:26,New,Minas Gerais,Brazil,Smartphone,360x640,Android 7.1.1,Chrome Mobile 64.0

In [34]:
del frames
del user_prod_comprados
del user_prod_vistas

In [35]:
sets.count()

fecha_x                     2130889
person                      2130889
model                       2130889
condition                   2130889
storage                     2130889
color                       2130889
fecha_y                     2130889
new_vs_returning            2130889
region                      2130889
country                     2130889
device_type                 2130889
screen_resolution           2130798
operating_system_version    2130889
browser_version             2130889
dtype: int64

In [36]:
sets = sets.fillna(value='')

## Categorizacion de los features a entrenar

### opcion 1: numeros para categorizar por feature (los numeros se repiten entre features)

In [37]:
#Categorizamos el estado del usuario 0 para new y 1 para returning
sets[['new_vs_returning']] = sets[['new_vs_returning']].applymap(lambda x: 0 if (x == 'New') else 1)

In [38]:
#Categorizamos los colores de 1 a n
training_set_list = sets[['color']].values.tolist()
i=1
diccionary={}

for lista in training_set_list:
    for element in lista:
        if type(element) != float:
            if element not in diccionary:
                diccionary[element]=i
                i+=1

In [39]:
sets[['color']] = sets[['color']].applymap(lambda x: diccionary[x])

In [40]:
#Categorizamos los modelos de 1 a n
training_set_list = sets[['model']].values.tolist()
i=1
diccionary={}

for lista in training_set_list:
    for element in lista:
        if type(element) != float:
            if element not in diccionary:
                diccionary[element]=i
                i+=1

In [41]:
sets[['model']] = sets[['model']].applymap(lambda x: diccionary[x])

In [42]:
#Categorizamos las condiciones del producto de 1 a n
training_set_list = sets[['condition']].values.tolist()
i=1
diccionary={}

for lista in training_set_list:
    for element in lista:
        if type(element) != float:
            if element not in diccionary:
                diccionary[element]=i
                i+=1

In [43]:
sets[['condition']] = sets[['condition']].applymap(lambda x: diccionary[x])

In [44]:
#Categorizamos la capacidad de almacenamiento del producto de 1 a n
training_set_list = sets[['storage']].values.tolist()
i=1
diccionary={}

for lista in training_set_list:
    for element in lista:
        if type(element) != float:
            if element not in diccionary:
                diccionary[element]=i
                i+=1

In [45]:
sets[['storage']] = sets[['storage']].applymap(lambda x: diccionary[x])

In [46]:
#Categorizamos las regiones, paises y tipo de caracteristicas del usuario en un conjunto de 1 a n
training_set_list = sets[['new_vs_returning','region','country','device_type','screen_resolution','operating_system_version','browser_version']].values.tolist()
i=1
diccionary={}

for lista in training_set_list:
    for element in lista:
        if type(element) != float:
            if element not in diccionary:
                diccionary[element]=i
                i+=1

In [47]:
sets[['region','country','device_type','screen_resolution','operating_system_version','browser_version']] = sets[['region','country','device_type','screen_resolution','operating_system_version','browser_version']].applymap(lambda x: diccionary[x])

### opcion 2: numeros para categorizar distintos por feature

In [25]:
#Categorizamos los features distintos de 61 (teniendo en cuenta el feature fecha-minuto) a n
training_set_list = sets[['model', 'condition', 'storage', 'color','new_vs_returning','region','country','device_type','screen_resolution','operating_system_version','browser_version']].values.tolist()
i=61
diccionary={}

for lista in training_set_list:
    for element in lista:
        if type(element) != float:
            if element not in diccionary:
                diccionary[element]=i
                i+=1

In [26]:
sets[['model', 'condition', 'storage', 'color','new_vs_returning','region','country','device_type','screen_resolution','operating_system_version','browser_version']] = sets[['model', 'condition', 'storage', 'color','new_vs_returning','region','country','device_type','screen_resolution','operating_system_version','browser_version']].applymap(lambda x: diccionary[x])

In [48]:
del training_set_list
del diccionary
sets.head()

,fecha_x,person,model,condition,storage,color,fecha_y,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 01:12:20,49c19e32,1,1,1,1,2018-05-12 03:02:08,1,2,3,4,5,6,7
1,2018-05-18 01:12:20,49c19e32,1,1,1,1,2018-05-11 23:44:42,0,2,3,4,5,6,7
2,2018-05-29 07:51:14,39df97e0,2,2,2,1,2018-05-30 10:59:58,1,9,3,4,5,10,7
3,2018-05-29 07:51:14,39df97e0,2,2,2,1,2018-05-29 00:36:12,1,11,3,4,5,10,7
4,2018-05-29 07:51:14,39df97e0,2,2,2,1,2018-02-28 01:34:26,0,9,3,4,5,10,12

In [49]:
#Categorizamos la fecha del visto del producto en dia hora y minuto (ya que el anio es 2018)
sets['dia_view_prod'] = sets['fecha_x'].apply(lambda x: x.day)
sets['mes_view_prod'] = sets['fecha_x'].apply(lambda x: x.month)
sets['hora_view_prod'] = sets['fecha_x'].apply(lambda x: x.hour)
sets['minuto_view_prod'] = sets['fecha_x'].apply(lambda x: x.minute)
sets = sets.drop('fecha_x',1)

In [50]:
#Categorizamos la fecha de visita del usuario en dia mes hora y minuto (ya que el anio es 2018)
sets['dia_visit_user'] = sets['fecha_y'].apply(lambda x: x.day)
sets['mes_visit_user'] = sets['fecha_y'].apply(lambda x: x.month)
sets['hora_visit_user'] = sets['fecha_y'].apply(lambda x: x.hour)
sets['minuto_visit_user'] = sets['fecha_y'].apply(lambda x: x.minute)
sets = sets.drop('fecha_y',1)

In [51]:
sets.head()

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,dia_view_prod,mes_view_prod,hora_view_prod,minuto_view_prod,dia_visit_user,mes_visit_user,hora_visit_user,minuto_visit_user
0,49c19e32,1,1,1,1,1,2,3,4,5,6,7,18,5,1,12,12,5,3,2
1,49c19e32,1,1,1,1,0,2,3,4,5,6,7,18,5,1,12,11,5,23,44
2,39df97e0,2,2,2,1,1,9,3,4,5,10,7,29,5,7,51,30,5,10,59
3,39df97e0,2,2,2,1,1,11,3,4,5,10,7,29,5,7,51,29,5,0,36
4,39df97e0,2,2,2,1,0,9,3,4,5,10,12,29,5,7,51,28,2,1,34

In [52]:
sets.tail()

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,dia_view_prod,mes_view_prod,hora_view_prod,minuto_view_prod,dia_visit_user,mes_visit_user,hora_visit_user,minuto_visit_user
2110249,300b0e1e,22,3,1,7,0,11,3,4,5,59,25,15,3,21,26,15,3,21,16
2110250,300b0e1e,22,3,1,7,1,11,3,4,5,59,25,15,3,21,26,16,3,1,32
2110251,300b0e1e,15,1,3,2,0,11,3,4,5,59,25,15,3,21,23,15,3,21,16
2110252,300b0e1e,15,1,3,2,1,11,3,4,5,59,25,15,3,21,23,16,3,1,32
2110253,9ce4b2a0,42,1,1,4,0,2,3,4,58,40,60,20,2,12,33,20,2,12,32

# Separamos los set de entrenamiento y prediccion

In [53]:
label_training = pd.read_csv('data/labels_training_set.csv')
label_training.head()

     person  label
0  0566e9c1      0
1  6ec7ee77      0
2  abe7a2fb      0
3  34728364      0
4  87ed62de      0

In [54]:
# Set prediccion son los que NO estan en labels_training y pero SI en events_up_to_01062018
prediction_set = sets.merge(label_training, how= 'left', on = 'person')
prediction_set = prediction_set[prediction_set.label.isnull()]
prediction_set.drop('label', inplace=True, axis=1)
prediction_set.count()

person                      1069501
model                       1069501
condition                   1069501
storage                     1069501
color                       1069501
new_vs_returning            1069501
region                      1069501
country                     1069501
device_type                 1069501
screen_resolution           1069501
operating_system_version    1069501
browser_version             1069501
dia_view_prod               1069501
mes_view_prod               1069501
hora_view_prod              1069501
minuto_view_prod            1069501
dia_visit_user              1069501
mes_visit_user              1069501
hora_visit_user             1069501
minuto_visit_user           1069501
dtype: int64

In [55]:
prediction_set.to_csv('data/set_prediccion_3.csv', encoding='utf-8', index=False)

In [56]:
# Set entrenamiento son los que estan en labels_training y events_up_to_01062018
training_set = sets.merge(label_training, how= 'inner', on = 'person')
training_set.count()

person                      1061388
model                       1061388
condition                   1061388
storage                     1061388
color                       1061388
new_vs_returning            1061388
region                      1061388
country                     1061388
device_type                 1061388
screen_resolution           1061388
operating_system_version    1061388
browser_version             1061388
dia_view_prod               1061388
mes_view_prod               1061388
hora_view_prod              1061388
minuto_view_prod            1061388
dia_visit_user              1061388
mes_visit_user              1061388
hora_visit_user             1061388
minuto_visit_user           1061388
label                       1061388
dtype: int64

In [57]:
training_set[training_set['label'] == 1].shape

(105000, 21)

In [58]:
training_set[training_set['label'] == 0].shape

(956388, 21)

In [59]:
training_set.to_csv('data/set_entrenamiento_3.csv', encoding='utf-8', index=False)