In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
from dateutil.parser import parse
import numpy as np

import warnings
import datetime as dt
warnings.filterwarnings('ignore')

from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [2]:
events = pd.read_csv('data/events_up_to_01062018.csv')
events.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
events.count()

timestamp                   2341681
event                       2341681
person                      2341681
url                          191131
sku                         1320530
model                       1321513
condition                   1320530
storage                     1320530
color                       1320530
skus                         505949
search_term                  113763
staticpage                    11201
campaign_source              191286
search_engine                106406
channel                      204069
new_vs_returning             204069
city                         204069
region                       204069
country                      204069
device_type                  204069
screen_resolution            204066
operating_system_version     204069
browser_version              204069
dtype: int64

# Analisis TP1

In [4]:
events.columns

Index(['timestamp', 'event', 'person', 'url', 'sku', 'model', 'condition',
       'storage', 'color', 'skus', 'search_term', 'staticpage',
       'campaign_source', 'search_engine', 'channel', 'new_vs_returning',
       'city', 'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version'],
      dtype='object')

In [5]:
events.drop(['url','skus','city','search_engine','campaign_source','channel'], inplace=True, axis=1)

In [6]:
#Cambiamos el tipo de dato de fecha de timestamp a datetime para un mejor analisis y renombramos a "fecha"
events[['timestamp']] = events[['timestamp']].apply(pd.to_datetime)
events.rename({
    'timestamp' : 'fecha',
}, axis=1, inplace=True)
events.head()

,fecha,event,person,sku,model,condition,storage,color,search_term,staticpage,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Detalles de Productos que fueron comprados
productos = events.loc[:, ['event','fecha','person', 'sku', 'model', 'condition', 'storage', 'color']]
productos_comprados = productos.loc[productos.event == 'conversion']
productos_comprados.drop(['event'], inplace=True, axis=1)
productos_comprados.head()

,fecha,person,sku,model,condition,storage,color
195,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa
234,2018-05-18 01:05:23,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa
724,2018-05-29 07:51:14,39df97e0,9358.0,Samsung Galaxy J2 Prime TV,Excelente,8GB,Rosa
744,2018-05-29 07:13:30,380c0e60,6314.0,Samsung Galaxy Note 5,Muito Bom,32GB,Preto
1198,2018-05-29 19:31:46,35ee0cc8,10924.0,Samsung Galaxy A5 2017,Bom,32GB,Dourado

In [8]:
productos_comprados.count()

fecha        7091
person       7091
sku          7091
model        7091
condition    7091
storage      7091
color        7091
dtype: int64

In [9]:
# productos_comprados = productos_comprados.drop_duplicates(['person','sku'])
productos_comprados = productos_comprados.drop_duplicates()
productos_comprados.count()

fecha        7058
person       7058
sku          7058
model        7058
condition    7058
storage      7058
color        7058
dtype: int64

In [10]:
#Detalles de Productos que fueron visitados
# productos_visitados = productos.loc[((productos.event == 'viewed product') | (productos.event == 'checkout'))]
productos_visitados = productos.loc[productos.event == 'viewed product']
productos_visitados.drop(['event'], inplace=True, axis=1)
productos_visitados.head()

,fecha,person,sku,model,condition,storage,color
0,2018-05-18 00:11:59,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado
1,2018-05-18 00:11:27,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial
2,2018-05-18 00:11:16,0297fc1e,6888.0,iPhone 6S,Muito Bom,64GB,Prateado
3,2018-05-18 00:11:14,2d681dd8,11890.0,iPhone 7,Bom,128GB,Vermelho
4,2018-05-18 00:11:09,cccea85e,7517.0,LG G4 H818P,Excelente,32GB,Branco

In [11]:
productos_visitados.count()

fecha        1248124
person       1248124
sku          1248124
model        1248124
condition    1248124
storage      1248124
color        1248124
dtype: int64

In [12]:
# productos_visitados = productos_visitados.drop_duplicates(['person','sku'])
productos_visitados = productos_visitados.drop_duplicates()
productos_visitados.count()

fecha        1246626
person       1246626
sku          1246626
model        1246626
condition    1246626
storage      1246626
color        1246626
dtype: int64

In [13]:
# Eliminamos de productos visitados las personas que estan en productos comprados
productos_visitados = productos_visitados.merge(productos_comprados, on='person', how='left')
productos_visitados = productos_visitados[productos_visitados['fecha_y'].isnull()]
productos_visitados = productos_visitados.loc[:,['fecha_x','person', 'sku_x', 'model_x', 'condition_x', 'storage_x', 'color_x']]
productos_visitados.rename(columns={'fecha_x': 'fecha', 'sku_x': 'sku', 'model_x': 'model', 'condition_x': 'condition', 'storage_x': 'storage', 'color_x': 'color'}, inplace=True)
productos_visitados.head()

,fecha,person,sku,model,condition,storage,color
0,2018-05-18 00:11:59,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado
1,2018-05-18 00:11:27,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial
2,2018-05-18 00:11:16,0297fc1e,6888.0,iPhone 6S,Muito Bom,64GB,Prateado
3,2018-05-18 00:11:14,2d681dd8,11890.0,iPhone 7,Bom,128GB,Vermelho
4,2018-05-18 00:11:09,cccea85e,7517.0,LG G4 H818P,Excelente,32GB,Branco

In [14]:
productos_visitados.count()

fecha        919796
person       919796
sku          919796
model        919796
condition    919796
storage      919796
color        919796
dtype: int64

In [15]:
#Caracterisitcas del dispositivos con el que el usuario visito el sitio
visitas = events.loc[:,['event','fecha','person','new_vs_returning','region','country','device_type','screen_resolution','operating_system_version','browser_version']]
features_usuario = visitas.loc[visitas.event == 'visited site']
features_usuario.drop(['event'], inplace=True, axis=1)
features_usuario.head()

,fecha,person,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version
2136629,2018-05-10 22:34:50,4640420b,Returning,Parana,Brazil,Smartphone,320x570,Android 5.0.2,Chrome Mobile 66.0
2136630,2018-05-15 02:39:45,4640420b,Returning,Parana,Brazil,Smartphone,320x570,Android 5.0.2,Chrome Mobile 66.0
2136631,2018-05-18 01:15:26,4640420b,Returning,Unknown,Brazil,Computer,1280x1024,Ubuntu,Firefox 57
2136632,2018-05-18 19:03:37,4640420b,Returning,Parana,Brazil,Tablet,800x1280,Android 7,Chrome 66.0
2136633,2018-05-18 19:35:12,4640420b,Returning,Parana,Brazil,Tablet,800x1280,Android 7,Chrome 66.0

In [16]:
features_usuario.count()

fecha                       204069
person                      204069
new_vs_returning            204069
region                      204069
country                     204069
device_type                 204069
screen_resolution           204066
operating_system_version    204069
browser_version             204069
dtype: int64

In [17]:
# features_usuario = features_usuario.drop_duplicates(['person','new_vs_returning','region','country','device_type','screen_resolution','operating_system_version','browser_version'])
features_usuario = features_usuario.drop_duplicates()
features_usuario.count()

fecha                       204068
person                      204068
new_vs_returning            204068
region                      204068
country                     204068
device_type                 204068
screen_resolution           204065
operating_system_version    204068
browser_version             204068
dtype: int64

In [18]:
del events
del productos
del visitas

# Set de Datos de Entrenamiento

In [19]:
user_prod_comprados = productos_comprados.merge(features_usuario, on="person", how="inner")
user_prod_comprados.head()

,fecha_x,person,sku,model,condition,storage,color,fecha_y,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-12 03:02:08,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0
1,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-12 05:02:08,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0
2,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-15 01:15:16,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0
3,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-18 01:05:22,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0
4,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-18 01:52:34,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0

In [20]:
user_prod_comprados.count()

fecha_x                     166037
person                      166037
sku                         166037
model                       166037
condition                   166037
storage                     166037
color                       166037
fecha_y                     166037
new_vs_returning            166037
region                      166037
country                     166037
device_type                 166037
screen_resolution           166035
operating_system_version    166037
browser_version             166037
dtype: int64

In [21]:
user_prod_vistas = productos_visitados.merge(features_usuario, on="person", how="inner")
user_prod_vistas.head()

,fecha_x,person,sku,model,condition,storage,color,fecha_y,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,2018-05-18 00:07:22,New,Rio de Janeiro,Brazil,Smartphone,360x640,Android 7,Chrome Mobile 64.0
1,2018-05-18 00:30:30,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,2018-05-18 00:07:22,New,Rio de Janeiro,Brazil,Smartphone,360x640,Android 7,Chrome Mobile 64.0
2,2018-05-18 00:11:35,4886f805,9287.0,Samsung Galaxy J7 Prime,Muito Bom,32GB,Dourado,2018-05-18 00:07:22,New,Rio de Janeiro,Brazil,Smartphone,360x640,Android 7,Chrome Mobile 64.0
3,2018-05-18 00:11:53,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,2018-05-18 00:07:22,New,Rio de Janeiro,Brazil,Smartphone,360x640,Android 7,Chrome Mobile 64.0
4,2018-05-18 00:11:27,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,2018-05-14 23:50:22,New,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0

In [22]:
user_prod_vistas.count()

fecha_x                     16185687
person                      16185687
sku                         16185687
model                       16185687
condition                   16185687
storage                     16185687
color                       16185687
fecha_y                     16185687
new_vs_returning            16185687
region                      16185687
country                     16185687
device_type                 16185687
screen_resolution           16185576
operating_system_version    16185687
browser_version             16185687
dtype: int64

In [23]:
del features_usuario
del productos_comprados
del productos_visitados

In [24]:
#concateno
user_prod_comprados['conversion'] = 1
user_prod_vistas['conversion'] = 0
frames = [user_prod_comprados, user_prod_vistas]
sets = pd.concat(frames)
sets.head()

,fecha_x,person,sku,model,condition,storage,color,fecha_y,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,conversion
0,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-12 03:02:08,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,1
1,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-12 05:02:08,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,1
2,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-15 01:15:16,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,1
3,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-18 01:05:22,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,1
4,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-18 01:52:34,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,1

In [25]:
del frames
del user_prod_comprados
del user_prod_vistas

In [26]:
sets.count()

fecha_x                     16351724
person                      16351724
sku                         16351724
model                       16351724
condition                   16351724
storage                     16351724
color                       16351724
fecha_y                     16351724
new_vs_returning            16351724
region                      16351724
country                     16351724
device_type                 16351724
screen_resolution           16351611
operating_system_version    16351724
browser_version             16351724
conversion                  16351724
dtype: int64

In [27]:
# Rellenamos los screen_resolution que estan en nan con resolucion 0x0
sets = sets.fillna(value='0x0')

## Categorizacion de los features a entrenar

In [28]:
# creo una nueva columna person_int para entrenar transformando el valor alfanumerico de person a numerico
sets['person_int'] = labelencoder.fit_transform(sets['person'])
sets.head()

,fecha_x,person,sku,model,condition,storage,color,fecha_y,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,conversion,person_int
0,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-12 03:02:08,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,1,10626
1,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-12 05:02:08,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,1,10626
2,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-15 01:15:16,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,1,10626
3,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-18 01:05:22,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,1,10626
4,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-18 01:52:34,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,1,10626

In [29]:
# convertimos a integer el valor flotante de sku
sets['sku'] = sets['sku'].astype('int')
sets.head()

,fecha_x,person,sku,model,condition,storage,color,fecha_y,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,conversion,person_int
0,2018-05-18 01:12:20,49c19e32,2683,iPhone 5c,Bom,16GB,Rosa,2018-05-12 03:02:08,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,1,10626
1,2018-05-18 01:12:20,49c19e32,2683,iPhone 5c,Bom,16GB,Rosa,2018-05-12 05:02:08,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,1,10626
2,2018-05-18 01:12:20,49c19e32,2683,iPhone 5c,Bom,16GB,Rosa,2018-05-15 01:15:16,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,1,10626
3,2018-05-18 01:12:20,49c19e32,2683,iPhone 5c,Bom,16GB,Rosa,2018-05-18 01:05:22,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,1,10626
4,2018-05-18 01:12:20,49c19e32,2683,iPhone 5c,Bom,16GB,Rosa,2018-05-18 01:52:34,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0,1,10626

In [31]:
#Categorizamos los valores de los features con label encoder
sets['model'] = labelencoder.fit_transform(sets['model'])
sets['condition'] = labelencoder.fit_transform(sets['condition'])
sets['storage'] = labelencoder.fit_transform(sets['storage'])
sets['color'] = labelencoder.fit_transform(sets['color'])
sets['new_vs_returning'] = labelencoder.fit_transform(sets['new_vs_returning'])
sets['region'] = labelencoder.fit_transform(sets['region'])
sets['country'] = labelencoder.fit_transform(sets['country'])
sets['device_type'] = labelencoder.fit_transform(sets['device_type'])
sets['screen_resolution'] = labelencoder.fit_transform(sets['screen_resolution'])
sets['operating_system_version'] = labelencoder.fit_transform(sets['operating_system_version'])
sets['browser_version'] = labelencoder.fit_transform(sets['browser_version'])
sets.head()

,fecha_x,person,sku,model,condition,storage,color,fecha_y,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,conversion,person_int
0,2018-05-18 01:12:20,49c19e32,2683,187,0,1,51,2018-05-12 03:02:08,1,96,7,1,237,22,122,1,10626
1,2018-05-18 01:12:20,49c19e32,2683,187,0,1,51,2018-05-12 05:02:08,1,96,7,1,237,22,122,1,10626
2,2018-05-18 01:12:20,49c19e32,2683,187,0,1,51,2018-05-15 01:15:16,1,96,7,1,237,22,122,1,10626
3,2018-05-18 01:12:20,49c19e32,2683,187,0,1,51,2018-05-18 01:05:22,1,96,7,1,237,22,122,1,10626
4,2018-05-18 01:12:20,49c19e32,2683,187,0,1,51,2018-05-18 01:52:34,1,96,7,1,237,22,122,1,10626

In [32]:
#Categorizamos la fecha del visto del producto en dia hora y minuto (ya que el anio es 2018)
sets['dia_view_prod'] = sets['fecha_x'].apply(lambda x: x.day).astype('int')
sets['mes_view_prod'] = sets['fecha_x'].apply(lambda x: x.month).astype('int')
sets['dia_sem_view_prod'] = sets['fecha_x'].apply(lambda x: x.dayofweek).astype('int')
sets = sets.drop('fecha_x',1)

In [33]:
#Categorizamos la fecha de visita del usuario en dia mes hora y minuto (ya que el anio es 2018)
sets['dia_visit_user'] = sets['fecha_y'].apply(lambda x: x.day).astype('int')
sets['mes_visit_user'] = sets['fecha_y'].apply(lambda x: x.month).astype('int')
sets['dia_sem_visit_user'] = sets['fecha_y'].apply(lambda x: x.dayofweek).astype('int')
sets = sets.drop('fecha_y',1)

In [34]:
sets.head()

,person,sku,model,condition,storage,color,new_vs_returning,region,country,device_type,...,operating_system_version,browser_version,conversion,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
0,49c19e32,2683,187,0,1,51,1,96,7,1,...,22,122,1,10626,18,5,4,12,5,5
1,49c19e32,2683,187,0,1,51,1,96,7,1,...,22,122,1,10626,18,5,4,12,5,5
2,49c19e32,2683,187,0,1,51,1,96,7,1,...,22,122,1,10626,18,5,4,15,5,1
3,49c19e32,2683,187,0,1,51,1,96,7,1,...,22,122,1,10626,18,5,4,18,5,4
4,49c19e32,2683,187,0,1,51,1,96,7,1,...,22,122,1,10626,18,5,4,18,5,4

In [35]:
sets.tail()

,person,sku,model,condition,storage,color,new_vs_returning,region,country,device_type,...,operating_system_version,browser_version,conversion,person_int,dia_view_prod,mes_view_prod,dia_sem_view_prod,dia_visit_user,mes_visit_user,dia_sem_visit_user
16185682,300b0e1e,1302,189,3,1,37,0,114,7,1,...,18,121,0,6866,15,3,3,15,3,3
16185683,300b0e1e,1302,189,3,1,37,1,114,7,1,...,18,121,0,6866,15,3,3,16,3,4
16185684,300b0e1e,10882,71,0,3,38,0,114,7,1,...,18,121,0,6866,15,3,3,15,3,3
16185685,300b0e1e,10882,71,0,3,38,1,114,7,1,...,18,121,0,6866,15,3,3,16,3,4
16185686,9ce4b2a0,2725,113,0,1,8,0,96,7,1,...,21,119,0,22544,20,2,1,20,2,1

# Separamos los set de entrenamiento y prediccion

In [36]:
label_training = pd.read_csv('data/labels_training_set.csv')
label_training.head()

     person  label
0  0566e9c1      0
1  6ec7ee77      0
2  abe7a2fb      0
3  34728364      0
4  87ed62de      0

In [37]:
# Set prediccion son los que NO estan en labels_training y pero SI en events_up_to_01062018
prediction_set = sets.merge(label_training, how= 'left', on = 'person')
prediction_set = prediction_set[prediction_set.label.isnull()]
prediction_set.drop('label', inplace=True, axis=1)
prediction_set.count()

person                      7859328
sku                         7859328
model                       7859328
condition                   7859328
storage                     7859328
color                       7859328
new_vs_returning            7859328
region                      7859328
country                     7859328
device_type                 7859328
screen_resolution           7859328
operating_system_version    7859328
browser_version             7859328
conversion                  7859328
person_int                  7859328
dia_view_prod               7859328
mes_view_prod               7859328
dia_sem_view_prod           7859328
dia_visit_user              7859328
mes_visit_user              7859328
dia_sem_visit_user          7859328
dtype: int64

In [38]:
prediction_set.to_csv('data/set_prediccion_5.csv', encoding='utf-8', index=False)

In [42]:
prediction_set[prediction_set['conversion'] == 1].shape

(98120, 21)

In [43]:
prediction_set[prediction_set['conversion'] == 0].shape

(7761208, 21)

In [44]:
# Set entrenamiento son los que estan en labels_training y events_up_to_01062018
training_set = sets.merge(label_training, how= 'inner', on = 'person')
training_set.count()

person                      8492396
sku                         8492396
model                       8492396
condition                   8492396
storage                     8492396
color                       8492396
new_vs_returning            8492396
region                      8492396
country                     8492396
device_type                 8492396
screen_resolution           8492396
operating_system_version    8492396
browser_version             8492396
conversion                  8492396
person_int                  8492396
dia_view_prod               8492396
mes_view_prod               8492396
dia_sem_view_prod           8492396
dia_visit_user              8492396
mes_visit_user              8492396
dia_sem_visit_user          8492396
label                       8492396
dtype: int64

In [45]:
training_set[training_set['label'] == 1].shape

(510346, 22)

In [46]:
training_set[training_set['label'] == 0].shape

(7982050, 22)

In [47]:
training_set[training_set['conversion'] == 1].shape

(67917, 22)

In [48]:
training_set[training_set['conversion'] == 0].shape

(8424479, 22)

In [49]:
training_set.to_csv('data/set_entrenamiento_5.csv', encoding='utf-8', index=False)