In [5]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
from dateutil.parser import parse
import numpy as np

import warnings
import datetime as dt
warnings.filterwarnings('ignore')

from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [14]:
events = pd.read_csv('data/events_up_to_01062018.csv', low_memory = False)
info = events[['person']]
info['frecuencia'] = 1
data = pd.DataFrame({'frecuencia': info.groupby('person').aggregate(sum)['frecuencia']}).reset_index()
# events.person.describe()

In [117]:
personas_entrenar = pd.read_csv('data/labels_training_set.csv', low_memory=False)
informacion = pd.read_csv('data/events_up_to_01062018.csv', low_memory= False)
personas_pred =pd.read_csv('data/trocafone_kaggle_test.csv',low_memory= False)


train_persons = personas_entrenar.merge(informacion, on = 'person', how = 'inner')
train_persons = train_persons[['person']]
train_persons['frecuencia'] = 1
train_persons = pd.DataFrame({'frecuencia': train_persons.groupby('person').aggregate(sum)['frecuencia']}).reset_index()

pred_persons = personas_pred.merge(informacion, on = 'person', how = 'inner')
pred_persons = personas_pred[['person']]
pred_persons['frecuencia'] = 1
pred_persons = pd.DataFrame({'frecuencia': pred_persons.groupby('person').aggregate(sum)['frecuencia']}).reset_index()
print(pred_persons.frecuencia.describe())
print(pred_persons.frecuencia.describe())

count    19415.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0
Name: frecuencia, dtype: float64
count    19415.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0
Name: frecuencia, dtype: float64

In [3]:
# prediction_set = pd.read_csv('data/trocafone_kaggle_test.csv', low_memory = False)
# training_set = pd.read_csv('data/labels_training_set.csv', low_memory=False)

# print('PREDICCION ' , prediction_set.person.describe())
# print('ENTRENAMIENTO ', training_set.person.describe())
# print('ENTRENAMIENTO 1s ', training_set[training_set['label'] == 1].shape)
# print('ENTRENAMIENTO 0s ', training_set[training_set['label'] == 0].shape)

# frecuencia = events[['person']]
# frecuencia['cant_eventos'] = 1
# frecuencia = pd.DataFrame({'cant_eventos': frecuencia.groupby('person').aggregate(sum)['cant_eventos']}).reset_index()
# events = events.merge(frecuencia, on = 'person', how = 'inner')

# prediction_set = prediction_set.merge(events, on = 'person', how = 'inner')
# prediction_set = prediction_set[(prediction_set['event'] == 'visited site') | (prediction_set['event'] == 'viewed product') | (prediction_set['event'] == 'conversion') | (prediction_set['event'] == 'checkout') | (prediction_set['event'] == 'brand listing') | (prediction_set['event'] == 'generic listing') | (prediction_set['event'] == 'lead') | (prediction_set['event'] == 'staticpage') ]                                                                       

# training_set = events.merge(training_set, on = 'person', how = 'inner')
# training_set= training_set[(training_set['label'] == 1) | ((training_set['cant_eventos'] <= 100) & (training_set['label'] == 0))]

PREDICCION  count        19415
unique       19415
top       8fb666db
freq             1
Name: person, dtype: object
ENTRENAMIENTO  count        19414
unique       19414
top       f7e0b202
freq             1
Name: person, dtype: object
ENTRENAMIENTO 1s  (980, 2)
ENTRENAMIENTO 0s  (18434, 2)

In [4]:
# del info
# del data
# del events
# del frecuencia

In [5]:
# prediction_set.person.describe()

count       953099
unique       19415
top       5059f7fd
freq          2932
Name: person, dtype: object

In [6]:
# training_set.person.describe()

count      1171886
unique       19414
top       ffee0f18
freq          3458
Name: person, dtype: object

In [7]:
#ELEGIR SET

In [15]:
#PREDICCION
sets = events.merge(data, on = 'person', how ='inner')
#del events
cols_drop=['url','skus', 'city','search_engine','campaign_source','channel']
cols = ['event','fecha','person', 'sku', 'model', 'condition', 'storage', 'color','cant_eventos']
cols_visit = ['event','fecha','person','new_vs_returning','region','country','device_type','screen_resolution','operating_system_version','browser_version','cant_eventos']
cols_x = ['fecha_x','person','sku_x', 'model_x', 'condition_x', 'storage_x', 'color_x','cant_eventos_x','compras_prod_x','vistas_prod_x', 'otros_x']
rename = {'fecha_x': 'fecha', 'model_x': 'model','sku_x':'sku', 'condition_x': 'condition', 'storage_x': 'storage', 'color_x': 'color','cant_eventos_x': 'cant_eventos', 'compras_prod_x': 'compras_prod', 'vistas_prod_x': 'vistas_prod' ,'otros_x': 'otros'}

In [10]:
#ENTRENAMIENTO
# sets = training_set
# cols_drop=['url','skus', 'city','search_engine','campaign_source','channel']
# cols = ['event','fecha','person', 'sku', 'model', 'condition', 'storage', 'color' ,'cant_eventos', 'label']
# cols_visit = ['event','fecha','person','new_vs_returning','region','country','device_type','screen_resolution','operating_system_version','browser_version','cant_eventos', 'label']
# cols_x = ['fecha_x','person','sku_x', 'model_x', 'condition_x', 'storage_x', 'color_x','cant_eventos_x','compras_prod_x','vistas_prod_x', 'otros_x', 'label_x']
# rename = {'fecha_x': 'fecha', 'model_x': 'model','sku_x':'sku', 'condition_x': 'condition', 'storage_x': 'storage', 'color_x': 'color', 'cant_eventos_x': 'cant_eventos','compras_prod_x': 'compras_prod', 'vistas_prod_x': 'vistas_prod' ,'otros_x': 'otros', 'label_x': 'label'}

In [17]:
del events

# Set Datos

# #Analisis TP1

In [18]:
sets.columns

Index(['timestamp', 'event', 'person', 'url', 'sku', 'model', 'condition',
       'storage', 'color', 'skus', 'search_term', 'staticpage',
       'campaign_source', 'search_engine', 'channel', 'new_vs_returning',
       'city', 'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version', 'frecuencia'],
      dtype='object')

In [19]:
sets.drop(cols_drop, inplace=True, axis=1)

In [20]:
#Cambiamos el tipo de dato de fecha de timestamp a datetime para un mejor analisis y renombramos a "fecha"
sets[['timestamp']] = sets[['timestamp']].apply(pd.to_datetime)
sets.rename({
    'timestamp' : 'fecha',
}, axis=1, inplace=True)
# sets.head()

,fecha,event,person,sku,model,condition,storage,color,search_term,staticpage,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,frecuencia
0,2018-05-18 00:11:59,viewed product,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
1,2018-05-18 00:30:30,viewed product,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
2,2018-05-18 00:07:23,search engine hit,4886f805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
3,2018-05-18 00:11:56,checkout,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
4,2018-05-18 00:11:35,viewed product,4886f805,9287.0,Samsung Galaxy J7 Prime,Muito Bom,32GB,Dourado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

vamos a crear las columnas compras_prod, vistas_prod, otros para productos y visitas_sitio para persona, de la forma de One Hot Encoder

In [21]:
#Detalles de Productos que fueron comprados
productos = sets.loc[:, cols]
productos_comprados = productos[(productos['event'] == 'conversion') | (productos['event'] == 'checkout')]
productos_comprados.drop(['event'], inplace=True, axis=1)
productos_comprados['compras_prod'] = 1
productos_comprados['vistas_prod'] = 0
productos_comprados['otros'] = 0
frecuencia_compras = productos_comprados[['person']]
frecuencia_compras['cant_compras'] = 1
frecuencia_compras = pd.DataFrame({'cant_compras': frecuencia_compras.groupby('person').aggregate(sum)['cant_compras']}).reset_index()
# productos_comprados.head()

In [22]:
productos_comprados.count()

fecha           72406
person          72406
sku             72406
model           72406
condition       72406
storage         72406
color           72406
cant_eventos        0
compras_prod    72406
vistas_prod     72406
otros           72406
dtype: int64

In [14]:
frecuencia_compras.head()

     person  cant_compras
0  0008ed71             3
1  000c79fe             1
2  001802e4             1
3  0019e639            17
4  001b0bf9             3

In [15]:
# print('1s ', productos_comprados[productos_comprados['label'] == 1].shape)
# print('0s ', productos_comprados[productos_comprados['label'] == 0].shape)

1s  (2233, 12)
0s  (33870, 12)

In [16]:
# productos_comprados = productos_comprados.drop_duplicates()
# productos_comprados.count()

In [23]:
#Detalles de Productos que fueron visitados
productos_visitados = productos.loc[productos.event == 'viewed product']
productos_visitados.drop(['event'], inplace=True, axis=1)
productos_visitados['compras_prod'] = 0
productos_visitados['vistas_prod'] = 1
productos_visitados['otros'] = 0
frecuencia_vistas = productos_visitados[['person']]
frecuencia_vistas['cant_vistas'] = 1
frecuencia_vistas = pd.DataFrame({'cant_vistas': frecuencia_vistas.groupby('person').aggregate(sum)['cant_vistas']}).reset_index()
productos_visitados.head()

,fecha,person,sku,model,condition,storage,color,cant_eventos,compras_prod,vistas_prod,otros
0,2018-05-18 00:11:59,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,0,1,0
1,2018-05-18 00:30:30,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,0,1,0
4,2018-05-18 00:11:35,4886f805,9287.0,Samsung Galaxy J7 Prime,Muito Bom,32GB,Dourado,NaN,0,1,0
6,2018-05-18 00:11:53,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,0,1,0
9,2018-05-18 00:11:27,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,0,1,0

In [24]:
productos_visitados.count()

fecha           1248124
person          1248124
sku             1248124
model           1248124
condition       1248124
storage         1248124
color           1248124
cant_eventos          0
compras_prod    1248124
vistas_prod     1248124
otros           1248124
dtype: int64

In [25]:
frecuencia_vistas.head()

     person  cant_vistas
0  00091926          372
1  00091a7a            3
2  000ba417          153
3  000c79fe            3
4  000e4d9e          339

In [20]:
# print('1s ', productos_visitados[productos_visitados['label'] == 1].shape)
# print('0s ', productos_visitados[productos_visitados['label'] == 0].shape)

1s  (53773, 12)
0s  (575460, 12)

In [21]:
# productos_visitados = productos_comprados.drop_duplicates()
# productos_visitados.count()

In [26]:
# Eliminamos de productos visitados las personas que estan en productos comprados
productos_visitados = productos_visitados.merge(productos_comprados, on='person', how='left')
productos_visitados = productos_visitados[productos_visitados['fecha_y'].isnull()]
productos_visitados = productos_visitados.loc[:,cols_x]
productos_visitados.rename(columns=rename, inplace=True)
productos_visitados.head()

,fecha,person,sku,model,condition,storage,color,cant_eventos,compras_prod,vistas_prod,otros
22980,2018-05-18 00:25:42,686c49c9,10086.0,iPhone 7,Excelente,128GB,Ouro Rosa,NaN,0,1,0
22981,2018-05-18 00:25:27,686c49c9,9946.0,iPhone 7,Excelente,128GB,Preto Matte,NaN,0,1,0
22982,2018-05-18 01:05:31,686c49c9,10086.0,iPhone 7,Excelente,128GB,Ouro Rosa,NaN,0,1,0
22983,2018-05-15 20:11:48,686c49c9,10030.0,iPhone 7,Excelente,128GB,Prateado,NaN,0,1,0
22984,2018-05-15 20:10:28,686c49c9,6845.0,iPhone 6S,Excelente,16GB,Dourado,NaN,0,1,0

In [23]:
productos_visitados.count()

fecha           52146
person          52146
sku             52146
model           52146
condition       52146
storage         52146
color           52146
cant_eventos    52146
compras_prod    52146
vistas_prod     52146
otros           52146
label           52146
dtype: int64

In [24]:
# print('1s ', productos_visitados[productos_visitados['label'] == 1].shape)
# print('0s ', productos_visitados[productos_visitados['label'] == 0].shape)

1s  (13707, 12)
0s  (38439, 12)

In [27]:
otros = sets.loc[:, cols]
otros = otros[(otros['event'] == 'brand listing') | (otros['event'] == 'generic listing') | (otros['event'] == 'lead') | (otros['event'] == 'staticpage')]
otros.drop(['event'], inplace=True, axis=1)
otros['compras_prod'] = 0
otros['vistas_prod'] = 0
otros['otros'] = 1
frecuencia_otros = otros[['person']]
frecuencia_otros['cant_otros'] = 1
frecuencia_otros = pd.DataFrame({'cant_otros': frecuencia_otros.groupby('person').aggregate(sum)['cant_otros']}).reset_index()
otros.head()

,fecha,person,sku,model,condition,storage,color,cant_eventos,compras_prod,vistas_prod,otros
7,2018-05-18 00:07:22,4886f805,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
47,2018-05-14 23:50:23,ad93850f,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
48,2018-05-14 23:50:44,ad93850f,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
49,2018-05-14 23:51:11,ad93850f,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
50,2018-05-14 23:51:42,ad93850f,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1

In [28]:
otros.count()

fecha           388672
person          388672
sku                  0
model              983
condition            0
storage              0
color                0
cant_eventos         0
compras_prod    388672
vistas_prod     388672
otros           388672
dtype: int64

In [27]:
frecuencia_otros.head()

     person  cant_otros
0  0008ed71           1
1  000c79fe           1
2  001802e4           4
3  0019e639         193
4  001b0bf9           2

In [28]:
# print('1s ', otros[otros['label'] == 1].shape)
# print('0s ', otros[otros['label'] == 0].shape)

1s  (19452, 12)
0s  (173085, 12)

In [29]:
# otros = otros.drop_duplicates()
# otros.count()

In [29]:
# Eliminamos de otros las personas que estan en productos comprados
otros = otros.merge(productos_comprados, on='person', how='left')
otros = otros[otros['fecha_y'].isnull()]
otros = otros.loc[:,cols_x]
otros.rename(columns=rename, inplace=True)
otros.head()

,fecha,person,sku,model,condition,storage,color,cant_eventos,compras_prod,vistas_prod,otros
3076,2018-05-07 12:45:15,686c49c9,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
3077,2018-05-07 12:39:53,686c49c9,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
3078,2018-05-07 12:41:38,686c49c9,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
3079,2018-05-07 12:43:42,686c49c9,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
3080,2018-05-07 12:43:43,686c49c9,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1

In [31]:
otros.count()

fecha           17348
person          17348
sku                 0
model              32
condition           0
storage             0
color               0
cant_eventos    17348
compras_prod    17348
vistas_prod     17348
otros           17348
label           17348
dtype: int64

In [32]:
# print('1s ', otros[otros['label'] == 1].shape)
# print('0s ', otros[otros['label'] == 0].shape)

1s  (4867, 12)
0s  (12481, 12)

In [30]:
# Eliminamos de otros las personas que estan en productos visitados
otros = otros.merge(productos_visitados, on='person', how='left')
otros = otros[otros['fecha_y'].isnull()]
otros = otros.loc[:,cols_x]
otros.rename(columns=rename, inplace=True)
otros.head()

,fecha,person,sku,model,condition,storage,color,cant_eventos,compras_prod,vistas_prod,otros
119795,2018-05-28 12:36:14,df80a783,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
119796,2018-05-28 22:28:24,df80a783,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
119797,2018-05-29 14:47:28,df80a783,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
122010,2018-05-29 20:56:57,7a3184e8,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
122011,2018-05-29 19:45:16,f33e2cc5,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1

In [34]:
otros.count()

fecha           568
person          568
sku               0
model             2
condition         0
storage           0
color             0
cant_eventos    568
compras_prod    568
vistas_prod     568
otros           568
label           568
dtype: int64

In [35]:
# print('1s ', otros[otros['label'] == 1].shape)
# print('0s ', otros[otros['label'] == 0].shape)

1s  (46, 12)
0s  (522, 12)

In [31]:
#Caracterisitcas del dispositivos con el que el usuario visito el sitio
visitas = sets.loc[:,cols_visit]
features_usuario = visitas.loc[visitas.event == 'visited site']
features_usuario.drop(['event'], inplace=True, axis=1)
features_usuario['visitas_sitio'] = 1
features_usuario.head()

,fecha,person,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,cant_eventos,visitas_sitio
8,2018-05-18 00:07:22,4886f805,New,Rio de Janeiro,Brazil,Smartphone,360x640,Android 7,Chrome Mobile 64.0,NaN,1
69,2018-05-14 23:50:22,ad93850f,New,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,NaN,1
70,2018-05-16 02:48:13,ad93850f,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,NaN,1
71,2018-05-18 00:11:26,ad93850f,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,NaN,1
72,2018-05-18 22:11:46,ad93850f,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,NaN,1

In [32]:
features_usuario.count()

fecha                       204069
person                      204069
new_vs_returning            204069
region                      204069
country                     204069
device_type                 204069
screen_resolution           204066
operating_system_version    204069
browser_version             204069
cant_eventos                     0
visitas_sitio               204069
dtype: int64

In [33]:
# print('1s ', otros[otros['label'] == 1].shape)
# print('0s ', otros[otros['label'] == 0].shape)

In [39]:
# features_usuario = features_usuario.drop_duplicates()
# features_usuario.count()

In [34]:
del productos
del visitas

In [35]:
user_prod_comprados = productos_comprados.merge(features_usuario, on="person", how="left")
user_prod_comprados.head()

,fecha_x,person,sku,model,condition,storage,color,cant_eventos_x,compras_prod,vistas_prod,...,fecha_y,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,cant_eventos_y,visitas_sitio
0,2018-05-18 00:11:56,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,1,0,...,2018-05-18 00:07:22,New,Rio de Janeiro,Brazil,Smartphone,360x640,Android 7,Chrome Mobile 64.0,NaN,1.0
1,2018-05-14 23:54:19,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,1,0,...,2018-05-14 23:50:22,New,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,NaN,1.0
2,2018-05-14 23:54:19,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,1,0,...,2018-05-16 02:48:13,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,NaN,1.0
3,2018-05-14 23:54:19,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,1,0,...,2018-05-18 00:11:26,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,NaN,1.0
4,2018-05-14 23:54:19,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,1,0,...,2018-05-18 22:11:46,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,NaN,1.0

In [36]:
user_prod_comprados.count()

fecha_x                     1051711
person                      1051711
sku                         1051711
model                       1051711
condition                   1051711
storage                     1051711
color                       1051711
cant_eventos_x                    0
compras_prod                1051711
vistas_prod                 1051711
otros                       1051711
fecha_y                     1050846
new_vs_returning            1050846
region                      1050846
country                     1050846
device_type                 1050846
screen_resolution           1050832
operating_system_version    1050846
browser_version             1050846
cant_eventos_y                    0
visitas_sitio               1050846
dtype: int64

In [43]:
# print('1s_x ', user_prod_comprados[user_prod_comprados['label_x'] == 1].shape)
# print('0s_x ', user_prod_comprados[user_prod_comprados['label_x'] == 0].shape)
# print('1s_y ', user_prod_comprados[user_prod_comprados['label_y'] == 1].shape)
# print('0s_y ', user_prod_comprados[user_prod_comprados['label_y'] == 0].shape)
# print('1s_x y 1s_y', user_prod_comprados[(user_prod_comprados['label_x'] == 1) & (user_prod_comprados['label_y'] == 1)].shape)
# print('0s_x y 0s_y', user_prod_comprados[(user_prod_comprados['label_x'] == 0) & (user_prod_comprados['label_y'] == 0)].shape)
# print('1s_x y 0s_y', user_prod_comprados[(user_prod_comprados['label_x'] == 1) & (user_prod_comprados['label_y'] == 0)].shape)
# print('0s_x y 1s_y ', user_prod_comprados[(user_prod_comprados['label_x'] == 0) & (user_prod_comprados['label_y'] == 1)].shape)

1s_x  (64127, 23)
0s_x  (423380, 23)
1s_y  (64119, 23)
0s_y  (422921, 23)
1s_x y 1s_y (64119, 23)
0s_x y 0s_y (422921, 23)
1s_x y 0s_y (0, 23)
0s_x y 1s_y  (0, 23)

In [37]:
user_prod_vistas = productos_visitados.merge(features_usuario, on="person", how="left")
user_prod_vistas.head()

,fecha_x,person,sku,model,condition,storage,color,cant_eventos_x,compras_prod,vistas_prod,...,fecha_y,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,cant_eventos_y,visitas_sitio
0,2018-05-18 00:25:42,686c49c9,10086.0,iPhone 7,Excelente,128GB,Ouro Rosa,NaN,0,1,...,2018-05-07 12:39:52,New,Sao Paulo,Brazil,Smartphone,320x568,iOS 10.3.3,Mobile Safari 10,NaN,1.0
1,2018-05-18 00:25:42,686c49c9,10086.0,iPhone 7,Excelente,128GB,Ouro Rosa,NaN,0,1,...,2018-05-07 12:43:42,Returning,Sao Paulo,Brazil,Smartphone,320x568,iOS 10.3.3,Mobile Safari 10,NaN,1.0
2,2018-05-18 00:25:42,686c49c9,10086.0,iPhone 7,Excelente,128GB,Ouro Rosa,NaN,0,1,...,2018-05-15 20:07:26,Returning,Sao Paulo,Brazil,Smartphone,320x568,iOS 10.3.3,Mobile Safari 10,NaN,1.0
3,2018-05-18 00:25:42,686c49c9,10086.0,iPhone 7,Excelente,128GB,Ouro Rosa,NaN,0,1,...,2018-05-18 00:21:05,Returning,Sao Paulo,Brazil,Smartphone,320x568,iOS 10.3.3,Mobile Safari 10,NaN,1.0
4,2018-05-18 00:25:42,686c49c9,10086.0,iPhone 7,Excelente,128GB,Ouro Rosa,NaN,0,1,...,2018-05-18 01:05:32,Returning,Sao Paulo,Brazil,Smartphone,320x568,iOS 10.3.3,Mobile Safari 10,NaN,1.0

In [38]:
user_prod_vistas.count()

fecha_x                     1210149
person                      1210149
sku                         1210149
model                       1210149
condition                   1210149
storage                     1210149
color                       1210149
cant_eventos_x                    0
compras_prod                1210149
vistas_prod                 1210149
otros                       1210149
fecha_y                     1209999
new_vs_returning            1209999
region                      1209999
country                     1209999
device_type                 1209999
screen_resolution           1209999
operating_system_version    1209999
browser_version             1209999
cant_eventos_y                    0
visitas_sitio               1209999
dtype: int64

In [46]:
# print('1s_x ', user_prod_vistas[user_prod_vistas['label_x'] == 1].shape)
# print('0s_x ', user_prod_vistas[user_prod_vistas['label_x'] == 0].shape)
# print('1s_y ', user_prod_vistas[user_prod_vistas['label_y'] == 1].shape)
# print('0s_y ', user_prod_vistas[user_prod_vistas['label_y'] == 0].shape)
# print('1s_x y 1s_y', user_prod_vistas[(user_prod_vistas['label_x'] == 1) & (user_prod_vistas['label_y'] == 1)].shape)
# print('0s_x y 0s_y', user_prod_vistas[(user_prod_vistas['label_x'] == 0) & (user_prod_vistas['label_y'] == 0)].shape)
# print('1s_x y 0s_y', user_prod_vistas[(user_prod_vistas['label_x'] == 1) & (user_prod_vistas['label_y'] == 0)].shape)
# print('0s_x y 1s_y ', user_prod_vistas[(user_prod_vistas['label_x'] == 0) & (user_prod_vistas['label_y'] == 1)].shape)

1s_x  (204354, 23)
0s_x  (377842, 23)
1s_y  (204244, 23)
0s_y  (377829, 23)
1s_x y 1s_y (204244, 23)
0s_x y 0s_y (377829, 23)
1s_x y 0s_y (0, 23)
0s_x y 1s_y  (0, 23)

In [39]:
otros = otros.merge(features_usuario, on="person", how="outer")
otros.head()

,fecha_x,person,sku,model,condition,storage,color,cant_eventos_x,compras_prod,vistas_prod,...,fecha_y,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,cant_eventos_y,visitas_sitio
0,2018-05-28 12:36:14,df80a783,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,2018-05-28 12:36:14,New,Maranhao,Brazil,Smartphone,360x640,Android 5.1.1,Samsung Internet 6.4,NaN,1.0
1,2018-05-28 12:36:14,df80a783,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,2018-05-28 22:28:25,Returning,Minas Gerais,Brazil,Smartphone,360x640,Android 5.1.1,Samsung Internet 6.4,NaN,1.0
2,2018-05-28 12:36:14,df80a783,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,2018-05-29 14:47:28,Returning,Piaui,Brazil,Smartphone,360x640,Android 5.1.1,Samsung Internet 6.4,NaN,1.0
3,2018-05-28 12:36:14,df80a783,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,2018-05-29 17:00:15,Returning,Piaui,Brazil,Smartphone,360x640,Android 5.1.1,Samsung Internet 6.4,NaN,1.0
4,2018-05-28 22:28:24,df80a783,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,2018-05-28 12:36:14,New,Maranhao,Brazil,Smartphone,360x640,Android 5.1.1,Samsung Internet 6.4,NaN,1.0

In [40]:
otros.count()

fecha_x                       7186
person                      210502
sku                              0
model                            7
condition                        0
storage                          0
color                            0
cant_eventos_x                   0
compras_prod                  7186
vistas_prod                   7186
otros                         7186
fecha_y                     210481
new_vs_returning            210481
region                      210481
country                     210481
device_type                 210481
screen_resolution           210478
operating_system_version    210481
browser_version             210481
cant_eventos_y                   0
visitas_sitio               210481
dtype: int64

In [49]:
# print('1s_x ', otros[otros['label_x'] == 1].shape)
# print('0s_x ', otros[otros['label_x'] == 0].shape)
# print('1s_y ', otros[otros['label_y'] == 1].shape)
# print('0s_y ', otros[otros['label_y'] == 0].shape)
# print('1s_x y 1s_y', otros[(otros['label_x'] == 1) & (otros['label_y'] == 1)].shape)
# print('0s_x y 0s_y', otros[(otros['label_x'] == 0) & (otros['label_y'] == 0)].shape)
# print('1s_x y 0s_y', otros[(otros['label_x'] == 1) & (otros['label_y'] == 0)].shape)
# print('0s_x y 1s_y ', otros[(otros['label_x'] == 0) & (otros['label_y'] == 1)].shape)

1s_x  (63, 23)
0s_x  (3246, 23)
1s_y  (8956, 23)
0s_y  (96265, 23)
1s_x y 1s_y (63, 23)
0s_x y 0s_y (3238, 23)
1s_x y 0s_y (0, 23)
0s_x y 1s_y  (0, 23)

In [41]:
del features_usuario
del productos_comprados
del productos_visitados

In [42]:
#concateno
frames = [user_prod_comprados, user_prod_vistas, otros]
sets = pd.concat(frames)
sets.head()

,fecha_x,person,sku,model,condition,storage,color,cant_eventos_x,compras_prod,vistas_prod,...,fecha_y,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,cant_eventos_y,visitas_sitio
0,2018-05-18 00:11:56,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,1.0,0.0,...,2018-05-18 00:07:22,New,Rio de Janeiro,Brazil,Smartphone,360x640,Android 7,Chrome Mobile 64.0,NaN,1.0
1,2018-05-14 23:54:19,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,1.0,0.0,...,2018-05-14 23:50:22,New,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,NaN,1.0
2,2018-05-14 23:54:19,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,1.0,0.0,...,2018-05-16 02:48:13,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,NaN,1.0
3,2018-05-14 23:54:19,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,1.0,0.0,...,2018-05-18 00:11:26,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,NaN,1.0
4,2018-05-14 23:54:19,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,1.0,0.0,...,2018-05-18 22:11:46,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,NaN,1.0

In [43]:
del frames
del user_prod_comprados
del user_prod_vistas
del otros

In [44]:
sets.count()

fecha_x                     2269046
person                      2472362
sku                         2261860
model                       2261867
condition                   2261860
storage                     2261860
color                       2261860
cant_eventos_x                    0
compras_prod                2269046
vistas_prod                 2269046
otros                       2269046
fecha_y                     2471326
new_vs_returning            2471326
region                      2471326
country                     2471326
device_type                 2471326
screen_resolution           2471309
operating_system_version    2471326
browser_version             2471326
cant_eventos_y                    0
visitas_sitio               2471326
dtype: int64

In [45]:
# Agregamos las frecuencias de cada persona de compras, vistas y otros
sets = sets.merge(frecuencia_compras, on = 'person', how = 'left')
sets = sets.merge(frecuencia_vistas, on = 'person', how = 'left')
sets = sets.merge(frecuencia_otros, on = 'person', how = 'left')
sets.head()

,fecha_x,person,sku,model,condition,storage,color,cant_eventos_x,compras_prod,vistas_prod,...,country,device_type,screen_resolution,operating_system_version,browser_version,cant_eventos_y,visitas_sitio,cant_compras,cant_vistas,cant_otros
0,2018-05-18 00:11:56,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,1.0,0.0,...,Brazil,Smartphone,360x640,Android 7,Chrome Mobile 64.0,NaN,1.0,1.0,4.0,1.0
1,2018-05-14 23:54:19,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,1.0,0.0,...,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,NaN,1.0,1.0,20.0,22.0
2,2018-05-14 23:54:19,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,1.0,0.0,...,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,NaN,1.0,1.0,20.0,22.0
3,2018-05-14 23:54:19,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,1.0,0.0,...,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,NaN,1.0,1.0,20.0,22.0
4,2018-05-14 23:54:19,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,1.0,0.0,...,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,NaN,1.0,1.0,20.0,22.0

In [46]:
sets['cant_compras'] = sets['cant_compras'].fillna(value=0) 
sets['cant_vistas'] = sets['cant_vistas'].fillna(value=0) 
sets['cant_otros'] = sets['cant_otros'].fillna(value=0) 
del frecuencia_compras
del frecuencia_vistas
del frecuencia_otros

In [56]:
# sets = sets.drop_duplicates()

In [47]:
# Rellenamos compras_prod  vistas_prod  otros y visitas_sitio con 0
sets['compras_prod'] = sets['compras_prod'].fillna(value=0) 
sets['vistas_prod'] = sets['vistas_prod'].fillna(value=0) 
sets['otros'] = sets['otros'].fillna(value=0) 
sets['visitas_sitio'] = sets['visitas_sitio'].fillna(value=0)

In [48]:
sets.count()

fecha_x                     2269046
person                      2472362
sku                         2261860
model                       2261867
condition                   2261860
storage                     2261860
color                       2261860
cant_eventos_x                    0
compras_prod                2472362
vistas_prod                 2472362
otros                       2472362
fecha_y                     2471326
new_vs_returning            2471326
region                      2471326
country                     2471326
device_type                 2471326
screen_resolution           2471309
operating_system_version    2471326
browser_version             2471326
cant_eventos_y                    0
visitas_sitio               2472362
cant_compras                2472362
cant_vistas                 2472362
cant_otros                  2472362
dtype: int64

In [49]:
# Rellenamos label_x y label_y con 0 y nos quedamos con label
# sets['label_x'] = sets['label_x'].fillna(value=0) 
# sets['label_y'] = sets['label_y'].fillna(value=0) 
# sets.loc[(sets['label_x'] == 1) | (sets['label_y'] == 1), 'label'] = 1
# sets['label'] = sets['label'].fillna(value=0) 
# sets.drop('label_x',axis=1, inplace=True)
# sets.drop('label_y',axis=1, inplace=True)
# sets.head()

In [60]:
# print('1s ', sets[sets['label'] == 1].shape)
# print('0s ',sets[sets['label'] == 0].shape)

1s  (277437, 25)
0s  (897495, 25)

In [50]:
#  Nos quedamos con cant_eventos_x (ya que son iguales con cant_eventos_y) convertimos a int y Rellenamos con 0
sets['cant_eventos'] = sets['cant_eventos_x']
sets['cant_eventos'] = sets['cant_eventos'].fillna(value=0) 
sets['cant_eventos'] = sets['cant_eventos'].astype('int')
sets.drop('cant_eventos_x',axis=1, inplace=True)
sets.drop('cant_eventos_y',axis=1, inplace=True)
sets.head()

,fecha_x,person,sku,model,condition,storage,color,compras_prod,vistas_prod,otros,...,country,device_type,screen_resolution,operating_system_version,browser_version,visitas_sitio,cant_compras,cant_vistas,cant_otros,cant_eventos
0,2018-05-18 00:11:56,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,1.0,0.0,0.0,...,Brazil,Smartphone,360x640,Android 7,Chrome Mobile 64.0,1.0,1.0,4.0,1.0,0
1,2018-05-14 23:54:19,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,1.0,0.0,0.0,...,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,1.0,1.0,20.0,22.0,0
2,2018-05-14 23:54:19,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,1.0,0.0,0.0,...,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,1.0,1.0,20.0,22.0,0
3,2018-05-14 23:54:19,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,1.0,0.0,0.0,...,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,1.0,1.0,20.0,22.0,0
4,2018-05-14 23:54:19,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,1.0,0.0,0.0,...,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,1.0,1.0,20.0,22.0,0

In [51]:
# Rellenamos model con 0 para luego hacer un split entre marca y modelo
sets['model'] = sets['model'].fillna(value='0')

In [52]:
# Rellenamos los demas con ''
sets = sets.fillna(value='')

In [64]:
sets.count()

browser_version             1174932
color                       1174932
compras_prod                1174932
condition                   1174932
country                     1174932
device_type                 1174932
fecha_x                     1174932
fecha_y                     1174932
model                       1174932
new_vs_returning            1174932
operating_system_version    1174932
otros                       1174932
person                      1174932
region                      1174932
screen_resolution           1174932
sku                         1174932
storage                     1174932
visitas_sitio               1174932
vistas_prod                 1174932
cant_compras                1174932
cant_vistas                 1174932
cant_otros                  1174932
label                       1174932
cant_eventos                1174932
dtype: int64

In [53]:
sets.person.describe()

count      2472362
unique       38829
top       5059f7fd
freq         96465
Name: person, dtype: object

## Categorizacion de los features

In [54]:
# Rellenamos cantidad de eventos y convertimos a int
sets['cant_eventos'] = sets['cant_eventos'].fillna(value=0) 
sets['cant_eventos'] = sets['cant_eventos'].astype('int')

sets['cant_compras'] = sets['cant_compras'].fillna(value=0) 
sets['cant_compras'] = sets['cant_compras'].astype('int')
sets['cant_vistas'] = sets['cant_vistas'].fillna(value=0) 
sets['cant_vistas'] = sets['cant_vistas'].astype('int')
sets['cant_otros'] = sets['cant_otros'].fillna(value=0) 
sets['cant_otros'] = sets['cant_otros'].astype('int')

In [55]:
# Partimos el feature model en marca y modelo
sets['model'] = sets['model'].apply(lambda x: x.split(' '))
sets['marca'] = sets['model'].apply(lambda x: "apple" if str(x[0]) == "iPhone" else str(x[0]))
sets['modelo'] = sets['model'].apply(lambda x: ' '.join(x[1:]) if len(x)>1 else "0" )
sets.drop('model', axis=1, inplace=True)
sets.head()

,fecha_x,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,fecha_y,...,screen_resolution,operating_system_version,browser_version,visitas_sitio,cant_compras,cant_vistas,cant_otros,cant_eventos,marca,modelo
0,2018-05-18 00:11:56,4886f805,9288,Excelente,32GB,Dourado,1.0,0.0,0.0,2018-05-18 00:07:22,...,360x640,Android 7,Chrome Mobile 64.0,1.0,1,4,1,0,Samsung,Galaxy J7 Prime
1,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1.0,0.0,0.0,2018-05-14 23:50:22,...,360x640,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s
2,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1.0,0.0,0.0,2018-05-16 02:48:13,...,360x640,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s
3,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1.0,0.0,0.0,2018-05-18 00:11:26,...,360x640,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s
4,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1.0,0.0,0.0,2018-05-18 22:11:46,...,360x640,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s

In [56]:
# creo una nueva columna person_int para entrenar transformando el valor alfanumerico de person a numerico
sets['person_int'] = labelencoder.fit_transform(sets['person'])
sets.head()

,fecha_x,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,fecha_y,...,operating_system_version,browser_version,visitas_sitio,cant_compras,cant_vistas,cant_otros,cant_eventos,marca,modelo,person_int
0,2018-05-18 00:11:56,4886f805,9288,Excelente,32GB,Dourado,1.0,0.0,0.0,2018-05-18 00:07:22,...,Android 7,Chrome Mobile 64.0,1.0,1,4,1,0,Samsung,Galaxy J7 Prime,10956
1,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1.0,0.0,0.0,2018-05-14 23:50:22,...,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s,26263
2,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1.0,0.0,0.0,2018-05-16 02:48:13,...,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s,26263
3,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1.0,0.0,0.0,2018-05-18 00:11:26,...,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s,26263
4,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1.0,0.0,0.0,2018-05-18 22:11:46,...,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s,26263

In [57]:
# convertimos a integer el valor flotante de compras_prod
sets['compras_prod'] = sets['compras_prod'].astype('int')
sets.head()

,fecha_x,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,fecha_y,...,operating_system_version,browser_version,visitas_sitio,cant_compras,cant_vistas,cant_otros,cant_eventos,marca,modelo,person_int
0,2018-05-18 00:11:56,4886f805,9288,Excelente,32GB,Dourado,1,0.0,0.0,2018-05-18 00:07:22,...,Android 7,Chrome Mobile 64.0,1.0,1,4,1,0,Samsung,Galaxy J7 Prime,10956
1,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1,0.0,0.0,2018-05-14 23:50:22,...,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s,26263
2,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1,0.0,0.0,2018-05-16 02:48:13,...,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s,26263
3,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1,0.0,0.0,2018-05-18 00:11:26,...,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s,26263
4,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1,0.0,0.0,2018-05-18 22:11:46,...,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s,26263

In [58]:
# convertimos a integer el valor flotante de vistas_prod
sets['vistas_prod'] = sets['vistas_prod'].astype('int')
sets.head()

,fecha_x,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,fecha_y,...,operating_system_version,browser_version,visitas_sitio,cant_compras,cant_vistas,cant_otros,cant_eventos,marca,modelo,person_int
0,2018-05-18 00:11:56,4886f805,9288,Excelente,32GB,Dourado,1,0,0.0,2018-05-18 00:07:22,...,Android 7,Chrome Mobile 64.0,1.0,1,4,1,0,Samsung,Galaxy J7 Prime,10956
1,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1,0,0.0,2018-05-14 23:50:22,...,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s,26263
2,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1,0,0.0,2018-05-16 02:48:13,...,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s,26263
3,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1,0,0.0,2018-05-18 00:11:26,...,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s,26263
4,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1,0,0.0,2018-05-18 22:11:46,...,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s,26263

In [59]:
# convertimos a integer el valor flotante de otros
sets['otros'] = sets['otros'].astype('int')
sets.head()

,fecha_x,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,fecha_y,...,operating_system_version,browser_version,visitas_sitio,cant_compras,cant_vistas,cant_otros,cant_eventos,marca,modelo,person_int
0,2018-05-18 00:11:56,4886f805,9288,Excelente,32GB,Dourado,1,0,0,2018-05-18 00:07:22,...,Android 7,Chrome Mobile 64.0,1.0,1,4,1,0,Samsung,Galaxy J7 Prime,10956
1,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1,0,0,2018-05-14 23:50:22,...,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s,26263
2,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1,0,0,2018-05-16 02:48:13,...,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s,26263
3,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1,0,0,2018-05-18 00:11:26,...,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s,26263
4,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1,0,0,2018-05-18 22:11:46,...,Android 5.1.1,Chrome Mobile 66.0,1.0,1,20,22,0,apple,5s,26263

In [60]:
# convertimos a integer el valor flotante de visitas_sitio
sets['visitas_sitio'] = sets['visitas_sitio'].astype('int')
sets.head()

,fecha_x,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,fecha_y,...,operating_system_version,browser_version,visitas_sitio,cant_compras,cant_vistas,cant_otros,cant_eventos,marca,modelo,person_int
0,2018-05-18 00:11:56,4886f805,9288,Excelente,32GB,Dourado,1,0,0,2018-05-18 00:07:22,...,Android 7,Chrome Mobile 64.0,1,1,4,1,0,Samsung,Galaxy J7 Prime,10956
1,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1,0,0,2018-05-14 23:50:22,...,Android 5.1.1,Chrome Mobile 66.0,1,1,20,22,0,apple,5s,26263
2,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1,0,0,2018-05-16 02:48:13,...,Android 5.1.1,Chrome Mobile 66.0,1,1,20,22,0,apple,5s,26263
3,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1,0,0,2018-05-18 00:11:26,...,Android 5.1.1,Chrome Mobile 66.0,1,1,20,22,0,apple,5s,26263
4,2018-05-14 23:54:19,ad93850f,304,Muito Bom,32GB,Cinza espacial,1,0,0,2018-05-18 22:11:46,...,Android 5.1.1,Chrome Mobile 66.0,1,1,20,22,0,apple,5s,26263

In [61]:
# convertimos a integer el valor flotante de label
# sets['label'] = sets['label'].astype('int')
# sets.head()

KeyError: 'label'

In [62]:
# convertimos a string el valor flotante de sku
sets['sku'] = sets['sku'].astype('str')
sets.head()

,fecha_x,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,fecha_y,...,operating_system_version,browser_version,visitas_sitio,cant_compras,cant_vistas,cant_otros,cant_eventos,marca,modelo,person_int
0,2018-05-18 00:11:56,4886f805,9288.0,Excelente,32GB,Dourado,1,0,0,2018-05-18 00:07:22,...,Android 7,Chrome Mobile 64.0,1,1,4,1,0,Samsung,Galaxy J7 Prime,10956
1,2018-05-14 23:54:19,ad93850f,304.0,Muito Bom,32GB,Cinza espacial,1,0,0,2018-05-14 23:50:22,...,Android 5.1.1,Chrome Mobile 66.0,1,1,20,22,0,apple,5s,26263
2,2018-05-14 23:54:19,ad93850f,304.0,Muito Bom,32GB,Cinza espacial,1,0,0,2018-05-16 02:48:13,...,Android 5.1.1,Chrome Mobile 66.0,1,1,20,22,0,apple,5s,26263
3,2018-05-14 23:54:19,ad93850f,304.0,Muito Bom,32GB,Cinza espacial,1,0,0,2018-05-18 00:11:26,...,Android 5.1.1,Chrome Mobile 66.0,1,1,20,22,0,apple,5s,26263
4,2018-05-14 23:54:19,ad93850f,304.0,Muito Bom,32GB,Cinza espacial,1,0,0,2018-05-18 22:11:46,...,Android 5.1.1,Chrome Mobile 66.0,1,1,20,22,0,apple,5s,26263

In [63]:
#Categorizamos los valores de los features con label encoder
sets['sku'] = labelencoder.fit_transform(sets['sku'])
sets['marca'] = labelencoder.fit_transform(sets['marca'])
sets['modelo'] = labelencoder.fit_transform(sets['modelo'])
sets['condition'] = labelencoder.fit_transform(sets['condition'])
sets['storage'] = labelencoder.fit_transform(sets['storage'])
sets['color'] = labelencoder.fit_transform(sets['color'])
sets['new_vs_returning'] = labelencoder.fit_transform(sets['new_vs_returning'])
sets['region'] = labelencoder.fit_transform(sets['region'])
sets['country'] = labelencoder.fit_transform(sets['country'])
sets['device_type'] = labelencoder.fit_transform(sets['device_type'])
sets['screen_resolution'] = labelencoder.fit_transform(sets['screen_resolution'])
sets['operating_system_version'] = labelencoder.fit_transform(sets['operating_system_version'])
sets['browser_version'] = labelencoder.fit_transform(sets['browser_version'])
sets.head()

,fecha_x,person,sku,condition,storage,color,compras_prod,vistas_prod,otros,fecha_y,...,operating_system_version,browser_version,visitas_sitio,cant_compras,cant_vistas,cant_otros,cant_eventos,marca,modelo,person_int
0,2018-05-18 00:11:56,4886f805,1770,3,4,28,1,0,0,2018-05-18 00:07:22,...,25,122,1,1,4,1,0,6,70,10956
1,2018-05-14 23:54:19,ad93850f,952,4,4,21,1,0,0,2018-05-14 23:50:22,...,21,124,1,1,20,22,0,8,12,26263
2,2018-05-14 23:54:19,ad93850f,952,4,4,21,1,0,0,2018-05-16 02:48:13,...,21,124,1,1,20,22,0,8,12,26263
3,2018-05-14 23:54:19,ad93850f,952,4,4,21,1,0,0,2018-05-18 00:11:26,...,21,124,1,1,20,22,0,8,12,26263
4,2018-05-14 23:54:19,ad93850f,952,4,4,21,1,0,0,2018-05-18 22:11:46,...,21,124,1,1,20,22,0,8,12,26263

In [64]:
#Categorizamos la fecha del visto del producto en dia mes y dia de la semana  (ya que el anio es 2018)
sets['dia_view_prod'] = sets['fecha_x'].apply(lambda x: x.day if type(x) != str else 0).astype('int')
sets['mes_view_prod'] = sets['fecha_x'].apply(lambda x: x.month if type(x) != str else 0).astype('int')
sets['dia_sem_view_prod'] = sets['fecha_x'].apply(lambda x: x.dayofweek if type(x) != str else 0).astype('int')
sets = sets.drop('fecha_x',1)

In [65]:
#Categorizamos la fecha de visita del usuario en dia mes y dia de la semana (ya que el anio es 2018)
sets['dia_visit_user'] = sets['fecha_y'].apply(lambda x: x.day if type(x) != str else 0).astype('int')
sets['mes_visit_user'] = sets['fecha_y'].apply(lambda x: x.month if type(x) != str else 0).astype('int')
sets['dia_sem_visit_user'] = sets['fecha_y'].apply(lambda x: x.dayofweek if type(x) != str else 0).astype('int')
sets = sets.drop('fecha_y',1)

In [104]:
sets.cant_eventos.describe()

count    2472362.0
mean           0.0
std            0.0
min            0.0
25%            0.0
50%            0.0
75%            0.0
max            0.0
Name: cant_eventos, dtype: float64

In [144]:
prediction_set = pd.read_csv('data/trocafone_kaggle_test.csv', low_memory = False)
training_set = pd.read_csv('data/labels_training_set.csv', low_memory=False)

print('PREDICCION ' , prediction_set.person.describe())
print('ENTRENAMIENTO ', training_set.person.describe())
print('ENTRENAMIENTO 1s ', training_set[training_set['label'] == 1].shape)
print('ENTRENAMIENTO 0s ', training_set[training_set['label'] == 0].shape)

prediction_set = prediction_set.merge(sets, on = 'person', how = 'inner')
#prediction_set = prediction_set[(prediction_set['event'] == 'visited site') | (prediction_set['event'] == 'viewed product') | (prediction_set['event'] == 'conversion') | (prediction_set['event'] == 'checkout') | (prediction_set['event'] == 'brand listing') | (prediction_set['event'] == 'generic listing') | (prediction_set['event'] == 'lead') | (prediction_set['event'] == 'staticpage') ]                                                                       
prediction_set = prediction_set.merge(pred_persons, on = 'person', how = 'inner')

training_set = training_set.merge(sets, on = 'person', how = 'inner')
training_set = training_set.merge(train_persons, on = 'person', how='inner')




#training_set= training_set[(training_set['label'] == 1) | ((training_set['frecuencia'] <= 500) & (training_set['label'] == 0))]
#training_set = training_set[(training_set['cant_eventos'] <= 10000) & (training_set['label'] == 0)]

PREDICCION  count        19415
unique       19415
top       03413393
freq             1
Name: person, dtype: object
ENTRENAMIENTO  count        19414
unique       19414
top       c7e30bf2
freq             1
Name: person, dtype: object
ENTRENAMIENTO 1s  (980, 2)
ENTRENAMIENTO 0s  (18434, 2)

In [145]:
training_set.frecuencia.sort_values(ascending=False)

479494     3458
479521     3458
479523     3458
479524     3458
479525     3458
479526     3458
479527     3458
479528     3458
479529     3458
479530     3458
479531     3458
479532     3458
479533     3458
479534     3458
479535     3458
479536     3458
479537     3458
479538     3458
479539     3458
479540     3458
479541     3458
479542     3458
479543     3458
479544     3458
479545     3458
479546     3458
479547     3458
479548     3458
479550     3458
479551     3458
           ...
940185        1
595509        1
15235         1
1123903       1
390067        1
1013224       1
498504        1
498451        1
922911        1
1169267       1
498165        1
497987        1
497933        1
1023978       1
1100394       1
363876        1
1149672       1
1082385       1
953217        1
745421        1
715861        1
419132        1
174827        1
737221        1
174884        1
1123639       1
109567        1
383977        1
721530        1
170705        1
Name: frecuencia, Length: 1174932, dtype: int64

In [146]:
prediction_set.person.describe()

count      1297430
unique       19415
top       5059f7fd
freq         96465
Name: person, dtype: object

In [147]:
training_set[training_set['label'] == 0].shape

(897495, 31)

In [148]:
prediction_set.shape

(1297430, 30)

In [149]:
training_set[training_set['label'] == 0].shape

(897495, 31)

In [66]:
# Guardar Set

In [150]:
training_set.to_csv('data/set_entrenamiento_21.csv', encoding='utf-8', index=False)

In [151]:
prediction_set.to_csv('data/set_prediccion_21.csv', encoding='utf-8', index=False)