In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
from dateutil.parser import parse
import numpy as np

import warnings
import datetime as dt
warnings.filterwarnings('ignore')

In [2]:
events = pd.read_csv('data/events_up_to_01062018.csv')
events.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
events.count()

timestamp                   2341681
event                       2341681
person                      2341681
url                          191131
sku                         1320530
model                       1321513
condition                   1320530
storage                     1320530
color                       1320530
skus                         505949
search_term                  113763
staticpage                    11201
campaign_source              191286
search_engine                106406
channel                      204069
new_vs_returning             204069
city                         204069
region                       204069
country                      204069
device_type                  204069
screen_resolution            204066
operating_system_version     204069
browser_version              204069
dtype: int64

# Analisis TP1

In [4]:
events.columns

Index(['timestamp', 'event', 'person', 'url', 'sku', 'model', 'condition',
       'storage', 'color', 'skus', 'search_term', 'staticpage',
       'campaign_source', 'search_engine', 'channel', 'new_vs_returning',
       'city', 'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version'],
      dtype='object')

In [5]:
events.drop(['url','skus','city','search_engine','campaign_source','channel'], inplace=True, axis=1)

In [6]:
#Cambiamos el tipo de dato de fecha de timestamp a datetime para un mejor analisis y renombramos a "fecha"
events[['timestamp']] = events[['timestamp']].apply(pd.to_datetime)
events.rename({
    'timestamp' : 'fecha',
}, axis=1, inplace=True)
events.head()

,fecha,event,person,sku,model,condition,storage,color,search_term,staticpage,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Detalles de Productos que fueron comprados
productos = events.loc[:, ['event','fecha','person', 'sku', 'model', 'condition', 'storage', 'color']]
productos_comprados = productos.loc[productos.event == 'conversion']
productos_comprados.drop(['event'], inplace=True, axis=1)
productos_comprados.head()

,fecha,person,sku,model,condition,storage,color
195,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa
234,2018-05-18 01:05:23,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa
724,2018-05-29 07:51:14,39df97e0,9358.0,Samsung Galaxy J2 Prime TV,Excelente,8GB,Rosa
744,2018-05-29 07:13:30,380c0e60,6314.0,Samsung Galaxy Note 5,Muito Bom,32GB,Preto
1198,2018-05-29 19:31:46,35ee0cc8,10924.0,Samsung Galaxy A5 2017,Bom,32GB,Dourado

In [8]:
productos_comprados.count()

fecha        7091
person       7091
sku          7091
model        7091
condition    7091
storage      7091
color        7091
dtype: int64

In [10]:
# productos_comprados = productos_comprados.drop_duplicates(['person','sku'])
productos_comprados = productos_comprados.drop_duplicates()
productos_comprados.count()

fecha        7058
person       7058
sku          7058
model        7058
condition    7058
storage      7058
color        7058
dtype: int64

In [22]:
#Detalles de Productos que fueron visitados
# productos_visitados = productos.loc[((productos.event == 'viewed product') | (productos.event == 'checkout'))]
productos_visitados = productos.loc[productos.event == 'viewed product']
productos_visitados.drop(['event'], inplace=True, axis=1)
productos_visitados.head()

,fecha,person,sku,model,condition,storage,color
0,2018-05-18 00:11:59,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado
1,2018-05-18 00:11:27,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial
2,2018-05-18 00:11:16,0297fc1e,6888.0,iPhone 6S,Muito Bom,64GB,Prateado
3,2018-05-18 00:11:14,2d681dd8,11890.0,iPhone 7,Bom,128GB,Vermelho
4,2018-05-18 00:11:09,cccea85e,7517.0,LG G4 H818P,Excelente,32GB,Branco

In [23]:
productos_visitados.count()

fecha        1248124
person       1248124
sku          1248124
model        1248124
condition    1248124
storage      1248124
color        1248124
dtype: int64

In [24]:
# productos_visitados = productos_visitados.drop_duplicates(['person','sku'])
productos_visitados = productos_visitados.drop_duplicates()
productos_visitados.count()

fecha        1246626
person       1246626
sku          1246626
model        1246626
condition    1246626
storage      1246626
color        1246626
dtype: int64

In [26]:
# Eliminamos de productos visitados las personas que estan en productos comprados
productos_visitados = productos_visitados.merge(productos_comprados, on='person', how='left')
productos_visitados = productos_visitados[productos_visitados['fecha_y'].isnull()]
productos_visitados = productos_visitados.loc[:,['fecha_x','person', 'sku_x', 'model_x', 'condition_x', 'storage_x', 'color_x']]
productos_visitados.rename(columns={'fecha_x': 'fecha', 'sku_x': 'sku', 'model_x': 'model', 'condition_x': 'condition', 'storage_x': 'storage', 'color_x': 'color'}, inplace=True)
productos_visitados.head()

,fecha,person,sku,model,condition,storage,color
0,2018-05-18 00:11:59,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado
1,2018-05-18 00:11:27,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial
2,2018-05-18 00:11:16,0297fc1e,6888.0,iPhone 6S,Muito Bom,64GB,Prateado
3,2018-05-18 00:11:14,2d681dd8,11890.0,iPhone 7,Bom,128GB,Vermelho
4,2018-05-18 00:11:09,cccea85e,7517.0,LG G4 H818P,Excelente,32GB,Branco

In [27]:
productos_visitados.count()

fecha        919796
person       919796
sku          919796
model        919796
condition    919796
storage      919796
color        919796
dtype: int64

In [28]:
#Caracterisitcas del dispositivos con el que el usuario visito el sitio
visitas = events.loc[:,['event','fecha','person','new_vs_returning','region','country','device_type','screen_resolution','operating_system_version','browser_version']]
features_usuario = visitas.loc[visitas.event == 'visited site']
features_usuario.drop(['event'], inplace=True, axis=1)
features_usuario.head()

,fecha,person,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version
2136629,2018-05-10 22:34:50,4640420b,Returning,Parana,Brazil,Smartphone,320x570,Android 5.0.2,Chrome Mobile 66.0
2136630,2018-05-15 02:39:45,4640420b,Returning,Parana,Brazil,Smartphone,320x570,Android 5.0.2,Chrome Mobile 66.0
2136631,2018-05-18 01:15:26,4640420b,Returning,Unknown,Brazil,Computer,1280x1024,Ubuntu,Firefox 57
2136632,2018-05-18 19:03:37,4640420b,Returning,Parana,Brazil,Tablet,800x1280,Android 7,Chrome 66.0
2136633,2018-05-18 19:35:12,4640420b,Returning,Parana,Brazil,Tablet,800x1280,Android 7,Chrome 66.0

In [29]:
features_usuario.count()

fecha                       204069
person                      204069
new_vs_returning            204069
region                      204069
country                     204069
device_type                 204069
screen_resolution           204066
operating_system_version    204069
browser_version             204069
dtype: int64

In [30]:
# features_usuario = features_usuario.drop_duplicates(['person','new_vs_returning','region','country','device_type','screen_resolution','operating_system_version','browser_version'])
features_usuario = features_usuario.drop_duplicates()
features_usuario.count()

fecha                       204068
person                      204068
new_vs_returning            204068
region                      204068
country                     204068
device_type                 204068
screen_resolution           204065
operating_system_version    204068
browser_version             204068
dtype: int64

In [31]:
del events
del productos
del visitas

# Set de Datos de Entrenamiento

In [32]:
user_prod_comprados = productos_comprados.merge(features_usuario, on="person", how="inner")
user_prod_comprados.head()

,fecha_x,person,sku,model,condition,storage,color,fecha_y,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-12 03:02:08,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0
1,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-12 05:02:08,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0
2,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-15 01:15:16,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0
3,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-18 01:05:22,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0
4,2018-05-18 01:12:20,49c19e32,2683.0,iPhone 5c,Bom,16GB,Rosa,2018-05-18 01:52:34,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0

In [33]:
user_prod_vistas = productos_visitados.merge(features_usuario, on="person", how="inner")
user_prod_vistas.head()

,fecha_x,person,sku,model,condition,storage,color,fecha_y,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,2018-05-18 00:07:22,New,Rio de Janeiro,Brazil,Smartphone,360x640,Android 7,Chrome Mobile 64.0
1,2018-05-18 00:30:30,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,2018-05-18 00:07:22,New,Rio de Janeiro,Brazil,Smartphone,360x640,Android 7,Chrome Mobile 64.0
2,2018-05-18 00:11:35,4886f805,9287.0,Samsung Galaxy J7 Prime,Muito Bom,32GB,Dourado,2018-05-18 00:07:22,New,Rio de Janeiro,Brazil,Smartphone,360x640,Android 7,Chrome Mobile 64.0
3,2018-05-18 00:11:53,4886f805,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,2018-05-18 00:07:22,New,Rio de Janeiro,Brazil,Smartphone,360x640,Android 7,Chrome Mobile 64.0
4,2018-05-18 00:11:27,ad93850f,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,2018-05-14 23:50:22,New,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0

In [34]:
del features_usuario
del productos_comprados
del productos_visitados

In [35]:
user_prod_comprados.drop('sku', inplace=True, axis=1)

In [36]:
user_prod_comprados['person'].count()

166037

In [37]:
user_prod_comprados = user_prod_comprados.drop_duplicates()
user_prod_comprados['person'].count()

166037

In [38]:
user_prod_vistas.drop('sku', inplace=True, axis=1)

In [39]:
user_prod_vistas['person'].count()

16185687

In [40]:
user_prod_vistas = user_prod_vistas.drop_duplicates()
user_prod_vistas['person'].count()

16185687

In [41]:
#concateno
# user_prod_comprados['label'] = 1
# user_prod_vistas['label'] = 0
frames = [user_prod_comprados, user_prod_vistas]
sets = pd.concat(frames)
sets.head()

,fecha_x,person,model,condition,storage,color,fecha_y,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 01:12:20,49c19e32,iPhone 5c,Bom,16GB,Rosa,2018-05-12 03:02:08,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0
1,2018-05-18 01:12:20,49c19e32,iPhone 5c,Bom,16GB,Rosa,2018-05-12 05:02:08,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0
2,2018-05-18 01:12:20,49c19e32,iPhone 5c,Bom,16GB,Rosa,2018-05-15 01:15:16,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0
3,2018-05-18 01:12:20,49c19e32,iPhone 5c,Bom,16GB,Rosa,2018-05-18 01:05:22,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0
4,2018-05-18 01:12:20,49c19e32,iPhone 5c,Bom,16GB,Rosa,2018-05-18 01:52:34,Returning,Sao Paulo,Brazil,Smartphone,360x640,Android 6.0.1,Chrome Mobile 66.0

In [42]:
del frames
del user_prod_comprados
del user_prod_vistas

In [43]:
sets.count()

fecha_x                     16351724
person                      16351724
model                       16351724
condition                   16351724
storage                     16351724
color                       16351724
fecha_y                     16351724
new_vs_returning            16351724
region                      16351724
country                     16351724
device_type                 16351724
screen_resolution           16351611
operating_system_version    16351724
browser_version             16351724
dtype: int64

In [44]:
sets = sets.fillna(value='')

## Categorizacion de los features a entrenar

### opcion 1: numeros para categorizar por feature (los numeros se repiten entre features)

In [45]:
#Categorizamos el estado del usuario 0 para new y 1 para returning
sets[['new_vs_returning']] = sets[['new_vs_returning']].applymap(lambda x: 0 if (x == 'New') else 1)

In [46]:
#Categorizamos los colores de 1 a n
training_set_list = sets[['color']].values.tolist()
i=1
diccionary={}

for lista in training_set_list:
    for element in lista:
        if type(element) != float:
            if element not in diccionary:
                diccionary[element]=i
                i+=1

In [47]:
sets[['color']] = sets[['color']].applymap(lambda x: diccionary[x])

In [48]:
#Categorizamos los modelos de 1 a n
training_set_list = sets[['model']].values.tolist()
i=1
diccionary={}

for lista in training_set_list:
    for element in lista:
        if type(element) != float:
            if element not in diccionary:
                diccionary[element]=i
                i+=1

In [49]:
sets[['model']] = sets[['model']].applymap(lambda x: diccionary[x])

In [50]:
#Categorizamos las condiciones del producto de 1 a n
training_set_list = sets[['condition']].values.tolist()
i=1
diccionary={}

for lista in training_set_list:
    for element in lista:
        if type(element) != float:
            if element not in diccionary:
                diccionary[element]=i
                i+=1

In [51]:
sets[['condition']] = sets[['condition']].applymap(lambda x: diccionary[x])

In [52]:
#Categorizamos la capacidad de almacenamiento del producto de 1 a n
training_set_list = sets[['storage']].values.tolist()
i=1
diccionary={}

for lista in training_set_list:
    for element in lista:
        if type(element) != float:
            if element not in diccionary:
                diccionary[element]=i
                i+=1

In [53]:
sets[['storage']] = sets[['storage']].applymap(lambda x: diccionary[x])

In [54]:
#Categorizamos las regiones, paises y tipo de caracteristicas del usuario en un conjunto de 1 a n
training_set_list = sets[['new_vs_returning','region','country','device_type','screen_resolution','operating_system_version','browser_version']].values.tolist()
i=1
diccionary={}

for lista in training_set_list:
    for element in lista:
        if type(element) != float:
            if element not in diccionary:
                diccionary[element]=i
                i+=1

In [55]:
sets[['region','country','device_type','screen_resolution','operating_system_version','browser_version']] = sets[['region','country','device_type','screen_resolution','operating_system_version','browser_version']].applymap(lambda x: diccionary[x])

### opcion 2: numeros para categorizar distintos por feature

In [25]:
#Categorizamos los features distintos de 61 (teniendo en cuenta el feature fecha-minuto) a n
training_set_list = sets[['model', 'condition', 'storage', 'color','new_vs_returning','region','country','device_type','screen_resolution','operating_system_version','browser_version']].values.tolist()
i=61
diccionary={}

for lista in training_set_list:
    for element in lista:
        if type(element) != float:
            if element not in diccionary:
                diccionary[element]=i
                i+=1

In [26]:
sets[['model', 'condition', 'storage', 'color','new_vs_returning','region','country','device_type','screen_resolution','operating_system_version','browser_version']] = sets[['model', 'condition', 'storage', 'color','new_vs_returning','region','country','device_type','screen_resolution','operating_system_version','browser_version']].applymap(lambda x: diccionary[x])

In [56]:
del training_set_list
del diccionary
sets.head()

,fecha_x,person,model,condition,storage,color,fecha_y,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 01:12:20,49c19e32,1,1,1,1,2018-05-12 03:02:08,1,2,3,4,5,6,7
1,2018-05-18 01:12:20,49c19e32,1,1,1,1,2018-05-12 05:02:08,1,2,3,4,5,6,7
2,2018-05-18 01:12:20,49c19e32,1,1,1,1,2018-05-15 01:15:16,1,2,3,4,5,6,7
3,2018-05-18 01:12:20,49c19e32,1,1,1,1,2018-05-18 01:05:22,1,2,3,4,5,6,7
4,2018-05-18 01:12:20,49c19e32,1,1,1,1,2018-05-18 01:52:34,1,2,3,4,5,6,7

In [57]:
#Categorizamos la fecha del visto del producto en dia hora y minuto (ya que el anio es 2018)
sets['dia_view_prod'] = sets['fecha_x'].apply(lambda x: x.day)
sets['mes_view_prod'] = sets['fecha_x'].apply(lambda x: x.month)
sets['hora_view_prod'] = sets['fecha_x'].apply(lambda x: x.hour)
sets['minuto_view_prod'] = sets['fecha_x'].apply(lambda x: x.minute)
sets = sets.drop('fecha_x',1)

In [58]:
#Categorizamos la fecha de visita del usuario en dia mes hora y minuto (ya que el anio es 2018)
sets['dia_visit_user'] = sets['fecha_y'].apply(lambda x: x.day)
sets['mes_visit_user'] = sets['fecha_y'].apply(lambda x: x.month)
sets['hora_visit_user'] = sets['fecha_y'].apply(lambda x: x.hour)
sets['minuto_visit_user'] = sets['fecha_y'].apply(lambda x: x.minute)
sets = sets.drop('fecha_y',1)

In [59]:
sets.head()

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,dia_view_prod,mes_view_prod,hora_view_prod,minuto_view_prod,dia_visit_user,mes_visit_user,hora_visit_user,minuto_visit_user
0,49c19e32,1,1,1,1,1,2,3,4,5,6,7,18,5,1,12,12,5,3,2
1,49c19e32,1,1,1,1,1,2,3,4,5,6,7,18,5,1,12,12,5,5,2
2,49c19e32,1,1,1,1,1,2,3,4,5,6,7,18,5,1,12,15,5,1,15
3,49c19e32,1,1,1,1,1,2,3,4,5,6,7,18,5,1,12,18,5,1,5
4,49c19e32,1,1,1,1,1,2,3,4,5,6,7,18,5,1,12,18,5,1,52

In [60]:
sets.tail()

,person,model,condition,storage,color,new_vs_returning,region,country,device_type,screen_resolution,operating_system_version,browser_version,dia_view_prod,mes_view_prod,hora_view_prod,minuto_view_prod,dia_visit_user,mes_visit_user,hora_visit_user,minuto_visit_user
16185682,300b0e1e,22,3,1,5,0,11,3,4,5,59,25,15,3,21,27,15,3,21,16
16185683,300b0e1e,22,3,1,5,1,11,3,4,5,59,25,15,3,21,27,16,3,1,32
16185684,300b0e1e,15,1,3,2,0,11,3,4,5,59,25,15,3,21,23,15,3,21,16
16185685,300b0e1e,15,1,3,2,1,11,3,4,5,59,25,15,3,21,23,16,3,1,32
16185686,9ce4b2a0,42,1,1,4,0,2,3,4,58,40,60,20,2,12,33,20,2,12,32

# Separamos los set de entrenamiento y prediccion

In [61]:
label_training = pd.read_csv('data/labels_training_set.csv')
label_training.head()

     person  label
0  0566e9c1      0
1  6ec7ee77      0
2  abe7a2fb      0
3  34728364      0
4  87ed62de      0

In [62]:
# Set prediccion son los que NO estan en labels_training y pero SI en events_up_to_01062018
prediction_set = sets.merge(label_training, how= 'left', on = 'person')
prediction_set = prediction_set[prediction_set.label.isnull()]
prediction_set.drop('label', inplace=True, axis=1)
prediction_set.count()

person                      7859328
model                       7859328
condition                   7859328
storage                     7859328
color                       7859328
new_vs_returning            7859328
region                      7859328
country                     7859328
device_type                 7859328
screen_resolution           7859328
operating_system_version    7859328
browser_version             7859328
dia_view_prod               7859328
mes_view_prod               7859328
hora_view_prod              7859328
minuto_view_prod            7859328
dia_visit_user              7859328
mes_visit_user              7859328
hora_visit_user             7859328
minuto_visit_user           7859328
dtype: int64

In [63]:
# prediction_set.to_csv('data/set_prediccion_3.csv', encoding='utf-8', index=False)
prediction_set.to_csv('data/set_prediccion_4.csv', encoding='utf-8', index=False)

In [64]:
# Set entrenamiento son los que estan en labels_training y events_up_to_01062018
training_set = sets.merge(label_training, how= 'inner', on = 'person')
training_set.count()

person                      8492396
model                       8492396
condition                   8492396
storage                     8492396
color                       8492396
new_vs_returning            8492396
region                      8492396
country                     8492396
device_type                 8492396
screen_resolution           8492396
operating_system_version    8492396
browser_version             8492396
dia_view_prod               8492396
mes_view_prod               8492396
hora_view_prod              8492396
minuto_view_prod            8492396
dia_visit_user              8492396
mes_visit_user              8492396
hora_visit_user             8492396
minuto_visit_user           8492396
label                       8492396
dtype: int64

In [65]:
training_set[training_set['label'] == 1].shape

(510346, 21)

In [66]:
training_set[training_set['label'] == 0].shape

(7982050, 21)

In [67]:
# training_set.to_csv('data/set_entrenamiento_3.csv', encoding='utf-8', index=False)
training_set.to_csv('data/set_entrenamiento_4.csv', encoding='utf-8', index=False)